.cases {
  background-color: #fff;
  &__item {
    border: 10px solid $lgray2;
    min-height: 606px;
    @include cv;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include r(600) {
      min-height: unset;
    }
    &-top {
      min-height: 210px;
      display: flex;
      align-items: center;
      padding-left: 26px;
    }
    &-logo {
      max-width: 178px;
      height: auto;
    }
    &-bot {
      position: relative;
      padding: 34px 0 0;
      color: #fff;
      &::before {
        @include ovl;
        background-color: $black;
        opacity: .7;
      }
      & > * {
        position: relative;
      }
    }
    &-descr {
      font-size: $p3;
      line-height: 1.4;
      padding: 20px 23px 40px;
      @include r(600) {
        padding: 20px 23px 40px 76px;
      }
    }
    .link-arrow {
      &__title {
        font-size: $p1;
        padding: 0 20px;
        &-bg {
          box-shadow: 0 0 0 15px $tr;

          @include r(600) {
            box-shadow: 0 0 0 14px $orange;
          }
          span {
            color: #fff;
          }
        }
      }
      &__button {
        left: 5px;
        top: calc(100% + 10.5px);

        @include r(600) {
          top: calc(100% + 9px);
        }
      }
      &:hover {
        .link-arrow {
          &__title {
            &-bg {
              box-shadow: 0 0 0 15px $orange;
            }
          }
        }
      }
    }
  }
}
