.contacts {
  color: $gray2;
  background-color: $dark;
  &__item {
    font-family: $mlig;
  }
  &__link {
    position: relative;
    color: $gray2;
    &::after {
      position: absolute;
      content: '';
      bottom: -2.5px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $gray2;
      @include ease;
    }
    &:hover {
      &::after {
        background-color: $red;
      }
    }
  }
}