.etalon {
  font-family: $mlig;
  color: $gray2;
  background-color: $dark;
  overflow: hidden;
  &--red {
    background: linear-gradient(90deg, $dark, $dark 50%, $red 50%);
    line-height: 1.4;
    //@include r(1800) {
    //  background: linear-gradient(90deg, $dark, $dark 49.9%, $red 50.1%);
    //}
  }
}