.feed {
  color: $pink;
  background-color: $red;
  padding: 140px 0;
  @include r(1200) {
    padding: 35px 0;
  }
  &__textarea {
    min-height: 257px;
    @include r(1600) {
      min-height: 216px;
    }
    @include r(1200) {
      min-height: 150px;
    }
  }
  &__policy {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      left: 0;
      bottom: -1px;
      background-color: $pink;
      @include ease;
    }
    &:hover {
      &::after {
        width: 80%;
      }
    }
  }
  .button {
    padding: 26px 9px;
    @include r(600) {
      width: 100% !important;
    }
  }
}
