.footer {
  font-size: $p3;
  color: $gray2;
  background-color: $black;
  padding-top: 93px;
  padding-bottom: 20px;
  overflow: hidden;
  @include r(600) {
    padding-top: 50px;
    .bold {
      font-family: $mreg;
      border-bottom: 1px solid #fff;
    }
    .not-under {
      border-bottom: none;
    }
  }
  &:hover {
    .footer__button {
      bottom: -20px;
    }
  }
  .container {
    position: relative;
  }
  &__button {
    position: absolute;
    bottom: -100px;
    right: -100px;
    @include ease;
    @include r(1600) {
      right: 0;
    }
  }
  &__divider {
    margin: 0 1px;
    &--bottom {
      @include r(600) {
        position: relative;
        padding-bottom: 15px;
        margin-bottom: 15px;
        &::after {
          position: absolute;
          content: '';
          width: calc(100% - 30px);
          height: 1px;
          bottom: 0;
          left: 15px;
          background-color: #464850;
        }
      }
    }
  }
  &__link {
    position: relative;
    color: $gray2;
    @include r(600) {
      margin-bottom: 5px;
    }
    &::after {
      position: absolute;
      content: '';
      bottom: -1.5px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $tr;
      @include ease;
    }
    &:hover {
      color: $gray2;
      &::after {
        background-color: $gray2;
      }
    }
  }
  &__socials {
    &-title {
      margin-bottom: 20px;
      @include r(1200) {
        margin-bottom: 10px;
      }
    }
    &-icon {
      fill: #fff;
      @include ease;
      &:hover {
        fill: $red;
      }
    }
    &-link {
      @include r(1200) {
        &:not(:last-child) {
          margin-right: 15px;
        }
      }
    }
  }
  &__logo {
    position: relative;
    font-size: 13px;
    color: $gray;
    margin-right: 81px;
    display: flex;
    flex-direction: column;
    &::before {
      position: absolute;
      content: '';
      width: 1px;
      height: 55px;
      background-color: $gray;
      right: -50px;
      top: 50%;
      transform: translateY(-50%);
    }
    &-icon {
      fill: #fff;
    }
    &-text {
      @include ease;
    }
    &:hover {
      color: #fff;
    }
  }
}
