.header {
  position: fixed;
  color: $gray2;
  width: 100%;
  max-height: 90px;
  top: 0;
  z-index: 2;
  a {
    color: $gray2;
    &:hover {
      color: $gray2;
    }
  }
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__top {
    position: relative;
    @include cubic;
    &-in {
      padding: 26px 0 27px;
      height: 90px;
      @include cubic;
    }
    .container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      @include cubic;
    }
  }
  &__logo {
    font-size: 13px;
    color: $gray;
    display: flex;
    align-items: center;
    z-index: 1;
    &-text {
      position: relative;
      margin-left: 40px;
      max-width: 140px;
      @include ease;
      &::before {
        position: absolute;
        content: '';
        width: 1px;
        height: 43px;
        background-color: $gray;
        left: -20px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    &:hover {
      .header__logo-text {
        color: #fff;
      }
    }
    &--fixed {
      left: 0;
    }
  }
  &__ui {
    position: absolute;
    top: 50%;
    width: 90px;
    height: 90px;
    background-color: $dark;
    transform: translateY(-50%);
    @include flex-center;
    @include cubic;
    opacity: 0;
    visibility: hidden;
  }
  &__hmb {
    border: none;
    box-shadow: none;
    outline: none;
    right: 0;
    @include cubic;
    &-in {
      position: relative;
      width: 100%;
      height: 100%;
    }
    &-icon {
      position: absolute;
      fill: #fff;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include cubic;
      &--2 {
        opacity: 0;
        visibility: hidden;
        transform: translate(-50%, -50%) scale(.8);
      }
    }
  }
  &__contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__item {
    display: flex;
    align-items: center;
    font-size: $p2;
    &:not(:last-child) {
      margin-right: 20px;
    }
    &-link {
      color: $gray2;
      svg {
        @include ease;
      }
      &:hover {
        color: #fff !important;
        svg {
          path {
            fill: #fff;
            stroke: #fff !important;
          }
        }
      }
    }
  }
  &__tel {
    color: #fff;
    font-family: $mbold;
    font-size: 25px;
    &:hover {
      color: #fff !important;
    }
  }
  &__bot {
    margin-top: 30px;
    @include cubic;
    .container {
      position: relative;
    }
  }
  &__button {
    position: relative;
    font-family: $mmed;
    font-size: 17px;
    text-transform: uppercase;
    color: #fff;
    border: none;
    outline: none;
    box-shadow: none;
    padding: 0;
    background: $tr;
    &::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 1px;
      background-color: $orange;
      left: 0;
      bottom: -3px;
      @include ease;
    }
    &:hover {
      text-shadow: 0 1px 1px #fff;
      &::after {
        background-color: #fff;
      }
    }
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    max-width: 1090px;
    &-link {
      position: relative;
      font-family: $mmed;
      font-size: 17px;
      color: $dark;
      text-transform: uppercase;
      display: inline-block;
      &:hover {
        color: #fff;
        text-shadow: 0 1px 1px #fff;
      }
      &-arrow {
        position: absolute;
        width: 8px;
        right: -19px;
        top: 6px;
        height: 44px;
        overflow: hidden;
        @include ease;
        z-index: 2;
        svg {
          stroke: $gray;
          transform: translateY(-36px);
          @include ease;
        }
      }
      &-wrp {
        padding: 8px 20px 8px 0;
        &:hover {
          .header__nav-link {
            color: #fff;
            text-shadow: 0 1px 1px #fff;
            &-arrow {
              svg {
                transform: translateY(0);
                stroke: #fff;
              }
            }
          }
          .header__dropdown {
            opacity: 1;
            visibility: visible;
            transform: translateY(0) translateX(-50%);
          }
        }
      }
    }
  }
  &__dropdown {
    position: absolute;
    left: 50%;
    top: 100%;
    width: calc(100% - 30px);
    max-width: $container;
    background-color: $dark;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.25);
    display: flex;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transform: translateY(10px) translateX(-50%);
    @include cubic2;
    @include r(1531) {
      max-width: $container2;
    }
    &-in {
      padding: 44px;
    }
    &-list {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      max-height: 522px;
      overflow-y: auto;
      @include scroll;
    }
    &-item {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: 0 22px 25px 0;
    }
    &-link {
      font-family: $mbold;
      font-size: $h3;
      line-height: 1.1;
      @include r(1531) {
        font-size: $h3-medium;
      }
      @include r(1200) {
        font-size: $h3-small;
      }
      &:hover {
        color: $red !important;
      }
    }
  }
  &__promo {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 467px;
    @include cv;
    @include r(1531) {
      min-width: 300px;
    }
    &-in {
      flex-grow: 1;
      padding: 53px 40px;
      display: flex;
      flex-direction: column;
    }
    &-title {
      font-family: $mbold;
      font-size: $h3;
      color: #fff;
      @include r(1531) {
        font-size: $h3-medium;
      }
      @include r(1200) {
        font-size: $h3-small;
      }
    }
    &-descr {
      color: #fff;
      margin: auto 0;
    }
    .button--square {
      justify-self: flex-end;
    }
  }
  &__overlay {
    @include ovl;
    position: fixed;
    background-color: $black;
    opacity: 0;
    visibility: hidden;
    @include ease;
  }
}

.sticky {
  .header {
    &__top-in {
      .container {
        left: 16px;
        transform: translate(0, -50%);
        opacity: 0;
        visibility: visible;
      }
      &:hover {
        background-color: $black;
        .container {
          top: 50%;
          left: 50%;
          transform: translateY(-50%) translateX(-50%);
          opacity: 1;
          visibility: visible;
        }
        .header__logo--fixed {
          opacity: 0;
          visibility: hidden;
        }
        & + .header__hmb {
          background-color: $black;
        }
      }
    }
    &__logo--fixed {
      opacity: 1;
      visibility: visible;
    }
    &__hmb {
      opacity: 1;
      visibility: visible;
    }

    &__bot {
      transform: translateY(10px);
      visibility: hidden;
      opacity: 0;
    }
  }
}

.show-menu {
  overflow: hidden;
  .header {
    &__overlay {
      opacity: 1;
      visibility: visible;
    }
    &__ui {
      background-color: $black;
    }
    &__hmb {
      &-icon {
        &--1 {
          opacity: 0;
          visibility: hidden;
          transform: translate(-50%, -50%) scale(.8);
        }
        &--2 {
          opacity: 1;
          visibility: visible;
          transform: translate(-50%, -50%) scale(1);
        }
      }
    }
    &__bot {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
}