.header {
  color: $gray2;
  a {
    color: $gray2;
    &:hover {
      color: $gray2;
    }
  }
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__top {
    padding: 26px 0;
  }
  &__logo {
    font-size: 13px;
    color: $gray;
    display: flex;
    align-items: center;
    &-text {
      position: relative;
      margin-left: 40px;
      max-width: 140px;
      @include ease;
      &::before {
        position: absolute;
        content: '';
        width: 1px;
        height: 43px;
        background-color: $gray;
        left: -20px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  &__contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__item {
    display: flex;
    align-items: center;
    font-size: $p2;
    &:not(:last-child) {
      margin-right: 20px;
    }
    &-link {
      color: $gray;
      svg {
        @include ease;
      }
      &:hover {
        color: $red;
        svg {
          path {
            fill: $red;
            stroke: $red !important;
          }
        }
      }
    }
  }
  &__tel {
    color: #fff;
    font-family: $mbold;
    font-size: 25px;
  }
  &__bot {
    position: relative;
    margin-top: 30px;
  }
  &__button {
    position: relative;
    font-family: $mmed;
    font-size: 17px;
    text-transform: uppercase;
    color: #fff;
    border: none;
    outline: none;
    box-shadow: none;
    padding: 0;
    background: $tr;
    &::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 1px;
      background-color: $orange;
      left: 0;
      bottom: -3px;
      @include ease;
    }
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    max-width: 1090px;
    &-link {
      position: relative;
      font-family: $mmed;
      font-size: 17px;
      color: $dark;
      text-transform: uppercase;
      &:hover {
        color: #fff;
      }
      &-arrow {
        position: absolute;
        width: 8px;
        right: -19px;
        top: 3px;
        height: 44px;
        overflow: hidden;
        @include ease;
        z-index: 2;
        svg {
          stroke: $gray;
          transform: translateY(-36px);
          @include ease;
        }
      }
      &-wrp {
        padding: 8px 20px 8px 0;
        &:hover {
          .header__nav-link {
            color: #fff;
            &-arrow {
              svg {
                transform: translateY(0);
                stroke: #fff;
              }
            }
          }
        }
      }
    }
  }
  &__dropdown {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    max-width: $container;
    background-color: $dark;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.25);
    display: flex;
    z-index: 1;
    &-in {
      padding: 44px;
    }
    &-list {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: flex-start;
      max-height: 522px;
      overflow-y: auto;
    }
    &-item {
      width: 100%;
      max-width: 418px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    &-link {
      font-family: $mbold;
      font-size: $h3;
    }
  }
  &__promo {
    flex-basis: 467px;
    display: flex;
    flex-direction: column;
    @include cv;
    &-in {
      flex-grow: 1;
      padding: 40px;
      display: flex;
      flex-direction: column;
    }
    &-descr {
      justify-self: center;
    }
    .button--square {
      justify-self: flex-end;
    }
  }
}
