.news {
  &__in {
    overflow: hidden;
    @include rmin(1200) {
      .container {
        max-width: unset;
        padding: 0;
      }
    }
  }
  &__slider {
    @include rmin(1200) {
      position: relative;
      padding: 0 120px 0 70px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      overflow: hidden;
    }
  }
  .owl-stage-outer {
    overflow: visible;
  }
  &__item {
    background-color: #fff;
    padding: 30px;
    @include rmin(1531) {
      min-width: 470px;
    }
    @include rmin(1200) {
      width: 100%;
      max-width: 370px;
      margin-right: 30px;
      &:not(:last-child) {
      }
    }
    &-date {
      font-family: $mlig;
      margin-bottom: 30px;
      span {
        font-size: $p3;
      }
    }
    &-link {
      font-family: $mbold;
      font-size: $h3;
      @include r(1531) {
        font-size: $h3-medium;
      }
      @include r(1200) {
        font-size: $h3-small;
      }
      &:hover {
        .news__item-arrow {
          width: 41px;
        }
        svg {
          stroke: $red;
          transform: translateX(0);
        }
      }
    }
    &-arrow {
      width: 10px;
      height: 30px;
      overflow: hidden;
      display: inline-block;
      @include ease;
      @include r(1531) {
        height: 21px;
      }
      @include r(1200) {
        height: 17px;
      }
      svg {
        stroke: $dark;
        transform: translateX(-31px);
        @include ease;
      }
    }
    &-descr {
      font-size: $p3;
      margin-top: 35px;
    }
  }
  &__nav {
    transform: translateX(15px);
  }
}