.products {
  padding: 150px 0;
  background-color: #fff;
  &__in {
    padding: 0 150px 0 64px;
    overflow: hidden;
  }
  .owl-stage-outer {
    overflow: visible;
  }
}
.product {
  &__title {
    min-height: 195px;
    display: inline-block;
  }
  &__num {
    font-family: $mlig;
    font-size: 18px;
    padding-left: 23px;
    margin-bottom: 40px;
    span:nth-child(1) {
      font-size: $p1;
    }
  }
  &__descr {
    position: relative;
    font-family: $mlig;
    margin-top: 60px;
    padding-left: 23px;
    padding-right: 23px;
    &::before {
      position: absolute;
      content: '';
      width: 70%;
      height: 1px;
      left: 23px;
      top: -30px;
      background-color: $dark;
    }
  }
}