.slider {
  padding: 0 30px;
  overflow: hidden;
  .owl-stage-outer {
    overflow: visible;
  }
  &__item {
    position: relative;
    color: #fff;
    min-height: 500px;
    height: calc(100vh - 240px);
    &-overlay {
      @include ovl;
      background-color: $dark;
      @include cubic3;
    }
    .container {
      height: 100%;
    }
    .button {
      @include cubic3;
    }
    &-in {
      position: relative;
      overflow: hidden;
    }
    &--2 {
      .slider__item-overlay {
        background-color: $orange;
      }
    }
    &--3 {
      .slider__item-overlay {
        background-color: $gray;
      }
    }
    &--4 {
      .slider__item-overlay {
        background-color: $red;
      }
    }
    &-promo {
      position: absolute;
      color: #fff;
      left: 0;
      top: 120px;
      max-width: 350px;
      min-height: 500px;
      transform: translateX(-150px);
      z-index: 1;
      @include cubic3;
      &-title {
        font-family: $mbold;
        font-size: $h3;
        @include cubic3;
        @include r(1531) {
          font-size: $h3-medium;
        }
        @include r(1200) {
          font-size: $h3-small;
        }
      }
      @include r(1690) {
        top: 50px;
      }
    }
    &-count {
      &-wrp {
        font-family: $mlig;
        margin-bottom: 40px;
        span {
          font-size: 18px;
        }
      }
    }
    &-img {
      position: relative;
      z-index: 1;
      @include ease;
      &-wrp {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-end;
      }
    }
    &-blur {
      position: absolute;
      left: 50%;
      bottom: 50px;
      transform: translateX(-50%);
    }
  }
  &__nav {
    position: absolute;
    left: -200px;
    bottom: 0;
    display: flex;
    @include cubic3;
    z-index: 1;
  }

  .owl-item {
    &:hover {
      .slider__item {
        &-promo {
          transform: translateX(-280px);
        }
        &-overlay {
          transform: translateX(-200px);
        }
      }
      //.slider__nav {
      //  transform: translateX(-200px);
      //}
    }
    &.active {
      &:hover {
        .slider__item {
          &-promo {
            transform: translateX(-150px);
          }
          &-overlay {
            transform: translateX(0);
          }
        }
        .slider__nav {
          transform: translateX(0);
        }
      }
      .slider {
        &__item {
          color: $gray2;
          &-overlay {
            opacity: 0;
            transition-delay: .5s;
          }
          &-promo {
            font-size: $h1;
            color: $gray2;
            transform: translate(0) !important;
            left: 30px;
            @include r(1531) {
              font-size: $h1-medium;
            }
            @include r(1200) {
              font-size: $h1-small;
            }
            span {
              opacity: 0;
              visibility: hidden;
            }
            &-title {
              opacity: 0;
              visibility: hidden;
              transform: translateY(-5px);
            }
          }
          &--1,
          &--4 {
            .button {
              color: #fff;
              border-color: $red;
              background-color: $red;
            }
          }
        }
        &__nav {
          left: -230px;
          opacity: 0;
        }
      }
    }
  }
}
.hover-on-promo {
  .slider__item-img{
    opacity: .5;
  }
}

