.slider {
  padding: 0 30px;
  overflow: hidden;
  position: relative;
  @include r(1531) {
    padding-left: 20px;
    padding-right: 20px;
  }
  @include r(1200) {
    padding: 0;
  }
  .owl-stage-outer {
    overflow: visible;
  }
  &__item {
    position: relative;
    color: #fff;
    background-color: $black;
    @include r(1531) {
      .section__title {
        font-size: 30px;
      }
    }
    @include rmin(1200) {
      min-height: 500px;
      height: calc(100vh - 240px);
    }
    @include r(1200) {
      padding-top: 30px;
      padding-bottom: 100px;
      br {
        display: none;
      }
      .slider__nav {
        display: none !important;
      }
    }
    @include r(600) {
      padding-bottom: 70px;
    }
    &-descr {
      @include ease;
      @include r(1340) {
        transform: translateX(30px);
        padding-top: 50px;
      }
      @include r(1200) {
        padding-top: 30px;
        min-height: 200px;
      }
    }
    &-overlay {
      @include ovl;
      background-color: $dark;
      @include cubic3;
      @include r(1200) {
        transform: translateX(0) !important;
      }
    }
    .container {
      height: 100%;
    }
    .button {
      @include cubic3;
      @include r(600) {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        max-width: calc(100% - 100px);
      }
    }
    &-in {
      position: relative;
      overflow: hidden;
    }
    &--1 {
      @include r(1531) {
        .slider__item-img {
          max-width: 350px;
          padding-left: 40px;
        }
      }
      @include r(1200) {
        .slider__item-img {
          max-width: unset;
          padding-left: 0;
        }
      }
    }
    &--2 {
      .slider__item-overlay {
        background-color: $orange;
      }
    }
    &--3 {
      .slider__item-overlay {
        background-color: $gray;
      }
      @include r(1531) {
        .slider__item-img-wrp {
          align-items: flex-end;
        }
      }
    }
    &--4 {
      .slider__item-overlay {
        background-color: $red;
      }
    }
    &-promo {
      position: absolute;
      color: #fff;
      left: 0;
      top: 120px;
      max-width: 350px;
      min-height: 500px;
      transform: translateX(-150px);
      z-index: 1;
      @include cubic3;
      &-title {
        font-family: $mbold;
        font-size: $h3;
        @include cubic3;
        @include r(1531) {
          font-size: $h3-medium;
        }
        @include r(1200) {
          display: none;
        }
      }
      @include r(1690) {
        top: 50px;
      }
      @include r(1340) {
        max-width: 310px;
      }
      @include r(1200) {
        transform: translateX(0);
        top: 0;
        left: auto;
        right: 10px;
        min-height: auto;
      }
    }
    &-count {
      &-wrp {
        font-family: $mlig;
        margin-bottom: 40px;
        @include r(1531) {
          font-size: 30px;
        }
        @include r(1200) {
          font-size: 16px;
          color: $gray;
        }
        span {
          font-size: 18px;
          @include r(1200) {
            font-size: 16px;
          }
        }
      }
    }
    &-img {
      position: relative;
      z-index: 1;
      @include ease;
      width: auto !important;
      max-height: 890px;
      @include r(1531) {
        max-width: 550px;
      }
      @include r(1340) {
        opacity: .5;
      }
      @include r(1200) {
        opacity: 1;
        height: 400px;
        object-fit: contain;
        width: auto;
      }
      @include r(600) {
        height: 250px;
      }
      &-wrp {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        @include r(1531) {
          justify-content: flex-start;
          align-items: center;
        }
        @include r(1200) {
          justify-content: center;
          align-items: flex-end;
        }
        @include r(600) {
          margin-top: 30px;
        }
      }
    }
    &-blur {
      position: absolute;
      left: 50%;
      bottom: -45px;
      transform: translateX(-50%);
      @include r(1200) {
        display: none;
      }
    }
  }
  &__nav {
    position: absolute;
    left: -200px;
    bottom: 0;
    display: flex;
    @include cubic3;
    z-index: 2;
    &--mobile {
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 1;
    }
  }

  .owl-item {
    &:hover {
      .slider__item {
        @include rmin(1200) {
          &-promo {
            transform: translateX(-280px);
          }
        }
        &-overlay {
          transform: translateX(-200px);
        }
      }
    }
    &.active {
      &:hover {
        .slider__item {
          @include rmin(1200) {
            &-promo {
              transform: translateX(-150px);
              min-height: unset;
            }
            &-overlay {
              transform: translateX(0);
            }
          }
        }
        .slider__nav {
          transform: translateX(0);
        }
      }
      .slider {
        &__item {
          color: $gray2;
          &-descr {
            transform: translateX(0);
          }
          &-overlay {
            opacity: 0;
            transition-delay: .5s;
          }
          &-promo {
            font-size: $h1;
            color: $gray2;
            transform: translate(0) !important;
            left: 30px;
            @include r(1340) {
              left: 15px;
              top: 20px;
              font-size: $h1-medium;
            }
            @include r(1200) {
              top: 0;
              left: auto;
            }
            @include rmin(1200) {
              span {
                opacity: 0;
                visibility: hidden;
              }
            }
            &-title {
              opacity: 0;
              visibility: hidden;
              transform: translateY(-5px);
            }
          }
          &--1,
          &--4 {
            .button {
              color: #fff;
              border-color: $red;
              background-color: $red;
            }
          }
        }
        &__nav {
          left: -230px;
          opacity: 0;
        }
      }
    }
  }
}
.hover-on-promo {
  .slider__item-img{
    opacity: .5;
  }
}

