.button {
  position: relative;
  font-size: $h4;
  font-family: $mmed;
  text-align: center;
  display: inline-block;
  outline: none;
  padding: 36px 69px;
  color: #fff;
  border: 1px solid $orange;
  background-color: $orange;
  text-transform: uppercase;
  @include ease;
  @include r(1600) {
    font-size: $h4-medium;
  }
  @include r(600) {
    font-size: 14px;
    padding: 20px 13px;
  }
  &:hover {
    color: #fff;
    background-color: #F43F14;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.1);
  }
  &--red {
    border-color: $red;
    background-color: $red;
    &:hover {
      border-color: #D70101;
      background-color: #D70101;
    }
  }
  &--white {
    color: $dark;
    border-color: #fff;
    background-color: #fff;
    &:hover {
      color: $dark;
      background-color: #F2F2F2;
      box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.15);
    }
  }
  &--tr {
    background-color: $tr;
    &:hover {
      background-color: $tr;
    }
    &-dark {
      color: $dark;
      border-color: $dark;
      &:hover {
        color: $dark;
      }
    }
    &-white {
      border-color: #fff;
    }
  }
  &--file {
    position: relative;
    margin-bottom: 0;
    cursor: pointer;
    &__input {
      position: absolute;
      opacity: 0;
      visibility: hidden;
    }
  }


  &--square {
    width: 100px;
    height: 100px;
    background-color: $orange;
    @include flex-center;
    @include ease;
    border: none;
    box-shadow: none;
    @include r(600) {
      width: 60px;
      height: 60px;
    }
    svg {
      stroke: #fff;
      @include ease;
    }
    &:hover {
      background-color: #F43F14;
      box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.1);
    }
    &--white {
      background-color: #fff;
      svg {
        stroke: $black;
      }
      &:hover {
        background-color: #F2F2F2;
        box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.15);
      }
    }
    &--red {
      background-color: $red;
      &:hover {
        background: #D70101;
      }
    }
    &--gray {
      background-color: $gray;
      &:hover {
        background-color: $gray;
      }
    }
    &--dark {
      background-color: $dark;
      &:hover {
        background-color: $dark;
      }
    }
    &--black {
      background-color: $black;
      &:hover {
        background-color: $orange;
      }
    }
    &--tr {
      background-color: $tr;
      border: 1px solid #fff;
      &:hover {
        border-color: $orange;
      }
      &--white {
        background-color: $tr;
        border: 1px solid $black;
        svg {
          stroke: $black;
        }
        &:hover {
          border-color: $orange;
          svg {
            stroke: #fff;
          }
        }
      }
    }
  }

  &--video {
    font-family: $mmed;
    font-size: 20px;
    text-transform: uppercase;
    color: $black;
    background-color: #fff;
    padding: 20px 40px;
    box-shadow: none;
    outline: none;
    border: none;
    border-radius: 50px;
    background-color: #fff;
    @include ease;
    display: flex;
    align-items: center;
    @include r(600) {
      font-size: 16px;
      padding: 15px 25px;
    }
    &__icon {
      fill: $black;
      @include ease;
      @include r(1200) {
        width: 15px;
        height: 17px;
        span {
          margin-top: 4px;
        }
      }
    }
    &:hover {
      color: #fff;
      background-color: $black;
      svg {
        fill: #fff;
      }
    }
  }

  &--radio {
    margin-bottom: 0;
    position: relative;
    display: flex;
    align-items: center;
    input {
      position: absolute;
      opacity: 0;
      visibility: hidden;
      &:checked {
        & + .button--radio__switch::before {
          transform: translate(60px, -50%);
        }
      }
    }

    &__switch {
      position: relative;
      width: 74px;
      height: 26px;
      background-color: $black;
      border-radius: 50px;
      margin: 0 35px;
      cursor: pointer;
      &::before {
        position: absolute;
        content: '';
        width: 40px;
        height: 40px;
        top: 50%;
        left: -10px;
        right: auto;
        background-color: $red;
        border-radius: 50%;
        transform: translateY(-50%);
        @include cubic3;
      }
    }
    
    &__label {
      cursor: pointer;
    }
  }
}

.link-arrow {
  position: relative;
  display: flex;
  z-index: 1;
  &__title {
    position: relative;
    font-family: $mbold;
    font-size: $h1;
    @include ease;
    z-index: 1;
    padding: 0 23px;
    display: inline-block;
    @include r(1600) {
      font-size: $h1-medium;
      padding: 0 18px;
    }
    @include r(1200) {
      font-size: $h1-small;
      padding: 0 13px;
    }
    &-bg {
      position: relative;
      box-shadow: 0 0 0 23px $tr;
      @include ease-fast;
      @include r(1600) {
        box-shadow: 0 0 0 18px $tr;
      }
      @include r(600) {
        box-shadow: 0 0 0 13px $orange;
      }
      span {
        position: relative;
        color: $dark;
        @include ease-fast;
        @include r(600) {
          color: #fff;
          background-color: $orange;
        }
      }
    }
  }
  &--white {
    .link-arrow__title-bg span {
      color: #fff;
    }
  }
  &__button {
    position: absolute;
    top: calc(100% + 11px);
    opacity: 0;
    visibility: hidden;
    @include ease-fast;
    @include rmin(600) {
      transform: translateY(-10px);
    }
    @include r(600) {
      opacity: 1;
      visibility: visible;
      top: calc(100% + 7px);
    }
    &-text {
      position: absolute;
      font-family: $mmed;
      font-size: 20px;
      color: $black !important;
      left: 100px;
      top: calc(100% + 16px);
      height: 100px;
      width: 270px;
      padding-left: 25px;
      display: flex;
      align-items: center;
      opacity: 0;
      visibility: hidden;
      transform: translateX(-5px);
      @include ease-fast;
      @include r(600) {
        left: 60px;
        top: calc(100% + 5px);
        height: 70px;
        width: 260px;
        opacity: 1;
        visibility: visible;
        transform: translate(0);
      }
    }
  }
  &:hover {
    .link-arrow {
      &__title {
        &-bg {
          box-shadow: 0 0 0 23px $orange;
          @include r(1600) {
            box-shadow: 0 0 0 18px $orange;
          }
          @include r(1200) {
            box-shadow: 0 0 0 13px $orange;
          }
          span {
            color: #fff;
            background-color: $orange;
          }
        }
      }
      &__button {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        &-text {
          opacity: 1;
          visibility: visible;
          transform: translateX(0);
        }
      }
    }
  }
}

.file {
  position: relative;
  font-size: $p3;
  padding: 4px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:not(:last-child) {
    margin-bottom: 36px;
    &::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 1px;
      left: 0;
      bottom: -18px;
      background-color: #ffe0ce54;
    }
  }
  &__name {
    flex-grow: 1;
  }
  &__button {
    background-color: $tr;
    box-shadow: none;
    border: none;
    outline: none;
    margin-left: 20px;
    svg {
      fill: #fff;
      stroke: $tr;
      @include ease;
      path {
        @include ease;
      }
    }
    &:hover {
      svg {
        stroke: #fff;
        path {
        }
      }
    }
  }
}
