.button {
  position: relative;
  font-size: $h4;
  font-family: $mreg;
  text-align: center;
  display: inline-block;
  outline: none;
  padding: 36px 69px;
  color: #fff;
  border: 1px solid $orange;
  background-color: $orange;
  text-transform: uppercase;
  @include ease;
  @include r(1531) {
    font-size: $h4-medium;
  }
  &:hover {
    color: #fff;
    background-color: #F43F14;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.1);
  }
  &--red {
    border-color: $red;
    background-color: $red;
    &:hover {
      border-color: #D70101;
      background-color: #D70101;
    }
  }
  &--white {
    color: $dark;
    border-color: #fff;
    background-color: #fff;
    &:hover {
      color: $dark;
      background-color: #F2F2F2;
      box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.15);
    }
  }
  &--tr {
    background-color: $tr;
    &:hover {
      background-color: $tr;
    }
    &-dark {
      color: $dark;
      border-color: $dark;
      &:hover {
        color: $dark;
      }
    }
    &-white {
      border-color: #fff;
    }
  }
  &--file {
    position: relative;
    margin-bottom: 0;
    cursor: pointer;
    &__input {
      position: absolute;
      opacity: 0;
      visibility: hidden;
    }
  }
  &--square {
    width: 100px;
    height: 100px;
    background-color: $orange;
    @include flex-center;
    @include ease;
    border: none;
    box-shadow: none;
    svg {
      stroke: #fff;
    }
    &:hover {
      background-color: #F43F14;
      box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.1);
    }
    &--white {
      background-color: #fff;
      svg {
        stroke: $black;
      }
      &:hover {
        background-color: #F2F2F2;
        box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.15);
      }
    }
    &--red {
      background-color: $red;
      &:hover {
        background: #D70101;
      }
    }
    &--gray {
      background-color: $gray;
      &:hover {
        background-color: $gray;
      }
    }
    &--dark {
      background-color: $dark;
      &:hover {
        background-color: $dark;
      }
    }
    &--tr {
      background-color: $tr;
      border: 1px solid #fff;
      &:hover {
        border-color: $orange;
      }
    }
  }
}

.link-arrow {
  position: relative;
  display: flex;
  z-index: 1;
  &__title {
    position: relative;
    font-family: $mbold;
    font-size: $h1;
    @include ease;
    z-index: 1;
    padding: 0 23px;
    display: inline-block;
    @include r(1531) {
      font-size: $h1-medium;
      padding: 0 18px;
    }
    @include r(1200) {
      font-size: $h1-small;
    }
    &-bg {
      position: relative;
      outline: $tr solid 0.46em;
      -moz-outline-offset: -0.04em;
      @include ease;
      span {
        color: $dark;
        position: relative;
        padding: 7.2px 0;
        background-color: $tr;
        @include ease;
        @include r(1531) {
          padding: 6.2px 0;
        }
      }
    }
  }
  &--white {
    .link-arrow__title-bg span {
      color: #fff;
    }
  }
  &__button {
    position: absolute;
    top: calc(100% + 22.5px);
    opacity: 0;
    visibility: hidden;
    @include r(1531) {
      top: calc(100% + 17.5px);
    }
  }
  &:hover {
    .link-arrow {
      &__title {
        &-bg {
          outline: $orange solid 0.46em;
          span {
            color: #fff;
            background-color: $orange;
          }
        }
      }
      &__button {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.file {
  position: relative;
  font-size: $p3;
  padding: 4px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:not(:last-child) {
    margin-bottom: 36px;
    &::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 1px;
      left: 0;
      bottom: -18px;
      background-color: #ffe0ce54;
    }
  }
  &__name {
    flex-grow: 1;
  }
  &__button {
    background-color: $tr;
    box-shadow: none;
    border: none;
    outline: none;
    margin-left: 20px;
    svg {
      fill: #fff;
      stroke: $tr;
      @include ease;
      path {
        @include ease;
      }
    }
    &:hover {
      svg {
        stroke: #fff;
        path {
        }
      }
    }
  }
}
