$mthin: 'MullerThin';
$mulig: 'MullerUltraLight';
$mlig: 'MullerLight';
$mreg: 'MullerRegular';
$mmed: 'MullerMedium';
$mhev: 'MullerHeavy';
$mhair: 'MullerHairline';
$mbold: 'MullerBold';
$mebold: 'MullerExtraBold';

.bold {
  font-family: $mbold;
}
.regular {
  font-family: $mreg;
}
.light {
  font-family: $mlig;
}
.ulight {
  font-family: $mulig;
  @include r(600) {
    font-family: $mreg;
  }
}

$h1: 50px;
$h1-medium: 40px;
$h1-small: 30px;


$h2: 40px;
$h2-medium: 30px;
$h2-small: 20px;

$h3: 30px;
$h3-medium: 22px;
$h3-small: 18px;

$h4: 20px;
$h4-medium: 18px;

$p1: 25px;
$p1-medium: 18px;
$p1-small: 16px;

$p2: 20px;
$p2-medium: 16px;
$p2-small: 14px;

$p3: 16px;
$p3-medium: 14px;

.h3 {
  font-size: $h3;
  @include r(1531) {
    font-size: $h3-medium;
  }
  @include r(1200) {
    font-size: $h3-small;
  }
}

.p1 {
  font-size: $p1;
  @include r(1531) {
    font-size: $p1-medium;
  }
  @include r(1200) {
    font-size: $p1-small;
  }
}
.p2 {
  font-size: $p2;
  @include r(1531) {
    font-size: $p2-medium;
  }
  @include r(1200) {
    font-size: $p2-small;
  }
}
.p3 {
  font-size: $p3;
  @include r(1531) {
    font-size: $p3-medium;
  }
}

.rub::after {
  content: "₽";
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto;
  font-weight: 700;
}