input,
textarea,
select {
  color: $pink;
  font-family: $mlig, Roboto, sans-serif;
  font-size: $p1;
  padding: 18px 0;
  background-color: $tr;
  border: none;
  border-bottom: 1px solid $pink;
  @include ease;
  @include r(1531) {
    font-size: $p1-medium;
  }
  @include r(1200) {
    font-size: $p1-small;
  }
}
option {
  color: $dark;
}
textarea {
  resize: none !important;
  overflow: hidden;
  &::placeholder {
    color: $pink;
  }
}
input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder {
  color: $pink;
}
input:focus,
textarea:focus,
input:active,
textarea:active {
  outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
