.section {
  &--inner {
    padding: 90px 0;
    @include r(1200) {
      padding: 35px 0
    }
  }
  &--black {
    color: $gray2;
    background-color: $black;
  }
  &--dark {
    color: $gray2;
    background-color: $dark;
  }
  &--white {
    color: $black;
    background-color: #fff;
  }
  &__title {
    font-size: $h1;
    font-family: $mbold;
    line-height: 1.1;
    @include r(1600) {
      font-size: $h1-medium;
    }
    @include r(1200) {
      font-size: $h1-small;
    }
  }
  &__subtitle {
    font-family: $mbold;
    font-size: $h2;
    line-height: 1.1;
    @include r(1600) {
      font-size: $h2-medium;
    }
    @include r(1200) {
      font-size: $h2-small;
    }
  }
  &__subsubtitle {
    font-family: $mbold;
    font-size: $h3;
    line-height: 1.2;
    @include r(1600) {
      font-size: $h3-medium;
    }
    @include r(1200) {
      font-size: $h3-small;
    }
  }
  &__link {
    position: relative;
    font-family: $mlig;
    font-size: $p1;
    @include r(1600) {
      font-size: $p1-medium;
    }
    @include r(1200) {
      font-size: $p1-small;
    }
    @include r(600) {
      font-family: $mreg;
    }
    &::after {
      position: absolute;
      content: '';
      width: 0;
      height: 1px;
      background-color: $dark;
      left: 0;
      bottom: -2px;
      @include ease;
    }
    &:hover {
      color: $dark;
      &::after {
        width: 70%;
      }
    }
  }
  &--type {
    overflow: hidden;
  }
}
.type__image {
  min-height: 450px;
  background-color: $gray2;
  @include cv;
  @include r(1200) {
    min-height: 300px;
  }
  @include r(600) {
    min-height: 200px;
  }
  &--fixed {
    position: absolute;
    top: 0;
    min-width: 900px;
    @include r(1200) {
      min-width: 100%;
    }
    &--left {
      right: 0;
    }
    &--right {
      left: 0;
    }
  }
  &-wrp {
    position: relative;
    min-height: 450px;
    @include r(1200) {
      min-height: 300px;
    }
    @include r(600) {
      min-height: 200px;
    }
  }
}
