.section {
  &--inner {
    padding: 90px 0;
    @include r(1200) {
      padding: 35px 0
    }
  }
  &__title {
    font-size: $h1;
    font-family: $mbold;
    line-height: 1.1;
  }
  &__link {
    position: relative;
    font-family: $mlig;
    font-size: $p1;
    &::after {
      position: absolute;
      content: '';
      width: 0;
      height: 1px;
      background-color: $dark;
      left: 0;
      bottom: -2px;
      @include ease;
    }
    &:hover {
      color: $dark;
      &::after {
        width: 70%;
      }
    }
  }
}
