.case {
  &-begin {
    color: $gray2;
    background-color: $black;

    &__img {
      max-height: 800px;
      font-size: $p3;
      @include r(1200) {
        max-height: 356px;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  &-header {
    &__logo {
      position: relative;
      max-width: 328px;
      height: auto;
    }

    &__divider {
      width: 1px;
      min-height: 133px;
      height: 100%;
      background-color: $gray2;
      margin: 0 35px 0 20px;
      @include r(600) {
        width: 100%;
        height: 1px;
        min-height: auto;
        margin: 35px auto;
      }
    }

    @include r(600) {
      .section__title {
        text-align: center;
      }
    }
  }

  &-profit {
    color: #fff;
    background-color: $orange;

    &__item {
      text-align: center;

      &-num {
        font-family: $mbold;
        font-size: 180px;
        line-height: 1;
        margin-bottom: 25px;
        @include r(1200) {
          font-size: 100px;
          margin-bottom: 0;
        }

        span:not(:first-child) {
          margin-left: -25px;
          @include r(1200) {
            margin-left: -10px;
          }
        }
      }

      &-title {
        font-family: $mulig;
        @include r(600) {
          font-family: $mreg;
        }
      }
    }
  }

  @include r(600) {
    &-info {
      &__in {
        padding-top: 20px;
        padding-left: 70px;
      }
    }
  }

  &-slider {
    &__nav {
      .button--square:last-child {
        margin-left: -1px;
      }
      transform: translateX(15px);
    }
  }

}