.clients {
  position: relative;
  background-color: #E7E7E7;
  &__decor {
    position: absolute;
    width: 100%;
    overflow: hidden;
    top: 420px;
    opacity: .2;
    &-text {
      font-family: $mbold;
      line-height: 1;
      font-size: 500px;
      color: #fff;
      transform: translateX(-200px);
      span:last-child {
        margin-top: -165px;
        display: block;
      }
    }
  }

  &__info {
    position: sticky;
    top: 120px;
  }
  &__descr {
    margin-bottom: 250px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  &__item {
    position: relative;
    flex-basis: calc(50% - 50px);
    min-height: 415px;
    background-color: #fff;
    @include flex-center;
    &:not(:last-child) {
      margin-bottom: 100px;
    }
    &:nth-child(1) {
      margin-top: 0 !important;
    }
    &:nth-child(2) {
      margin-top: 207.5px;;
    }
    &:nth-child(odd) {
      margin-top: -207.5px;;
    }
    &-image {
      transform: scale(1.2);
      filter: grayscale(100%);
      opacity: .6;
      max-width: 100%;
      height: auto;
      @include ease;
    }
    &-arrow {
      position: absolute;
      stroke: $red;
      left: 50%;
      bottom: 25px;
      transform: translateX(-60%);
      opacity: 0;
      @include ease;
    }
    &:hover {
      .clients__item {
        &-image {
          filter: grayscale(0);
          opacity: 1;
        }
        &-arrow {
          opacity: 1;
          transform: translateX(-50%);
        }
      }
    }
  }

  &__certificate {
    @include ease;
    &:hover {
      opacity: .8;
      cursor: pointer;
    }
  }

  &__case {
    color: $pink;
    background-color: $red;
    &-stage {
      line-height: 1.2;
      &-num {
        font-family: $mulig;
        font-size: 18px;
        margin-bottom: 40px;
        span:nth-child(1) {
          font-size: $p1;
          @include r(1531) {
            font-size: $p1-medium;
          }
          @include r(1200) {
            font-size: $p1-small;
          }
        }
      }
    }
  }
}