.clients {
  position: relative;
  background-color: #E7E7E7;
  &__decor {
    position: absolute;
    width: 100%;
    overflow: hidden;
    top: 420px;
    opacity: .2;
    &-text {
      font-family: $mbold;
      line-height: 1;
      font-size: 500px;
      color: #fff;
      transform: translateX(-200px);
      span:last-child {
        margin-top: -165px;
        display: block;
      }
    }
  }

  &__info {
    position: sticky;
    top: 120px;
  }
  &__descr {
    margin-bottom: 250px;
    @include r(1200) {
      margin-bottom: 25px;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  &__item {
    position: relative;
    flex-basis: calc(50% - 50px);
    min-height: 415px;
    background-color: #fff;
    @include flex-center;
    @include r(1200) {
      min-height: 200px;
      flex-basis: 32%;
      margin-bottom: 15px;
    }
    @include rmin(1200) {
      &:not(:last-child) {
        margin-bottom: 100px;
      }
      &:nth-child(1) {
        margin-top: 0 !important;
      }
      &:nth-child(2) {
        margin-top: 207.5px;;
      }
      &:nth-child(odd) {
        margin-top: -207.5px;;
      }
    }
    @include r(600) {
      min-height: 170px;
      flex-basis: 48%;
      padding: 20px;
      &:nth-child(1) {
        margin-top: 0 !important;
      }
      &:nth-child(2) {
        margin-top: 100px;
      }
      &:nth-child(odd) {
        margin-top: -100px;
      }
    }

    &-image {
      transform: scale(1.2);
      filter: grayscale(100%);
      opacity: .6;
      max-width: 100%;
      height: auto;
      @include ease;
      @include r(1200) {
        max-width: 100%;
        height: auto;
        transform: scale(1);
      }
    }
    &-arrow {
      position: absolute;
      stroke: $red;
      left: 50%;
      bottom: 25px;
      transform: translateX(-60%);
      opacity: 0;
      @include ease;
    }
    &:hover {
      .clients__item {
        &-image {
          filter: grayscale(0);
          opacity: 1;
        }
        &-arrow {
          opacity: 1;
          transform: translateX(-50%);
        }
      }
    }
  }

  &__certificate {
    @include ease;
    &:hover {
      opacity: .8;
      cursor: pointer;
    }
    @include r(1200) {
      img {
        max-height: 400px;
      }
    }
  }

  &-case {
    position: relative;
    color: $pink;
    background: $red;
    overflow: hidden;
    .container{
      position: relative;
      z-index: 1;
    }
    &__info {
      padding-right: 60px;
      @include r(600) {
        padding-right: 0;
      }
    }
    &__stage {
      line-height: 1.5;
      &-list {
        @include r(600) {
          padding-top: 0;
        }
        &::before,
        &::after {
          @include ovl;
          width: calc(100% + 300px);
          height: calc(100% + 100px);
          top: -100px;
          left: -15px;
          @include cv;
          @include r(1200) {
            top: -15px;
            height: calc(100% + 45px);
          }
          @include r(600) {
            width: calc(100% + 50px);
            top: -25px;
          }
        }
        &::before {
          background-image: url('../img/clients-case__bg.jpg');
          @include r(1200) {
          }
          @include r(600) {
          }
        }
        &::after {
          background-color: $red;
          opacity: .8;
        }
        & > * {
          position: relative;
          z-index: 1;
        }
      }
      &-title {
        line-height: 1.3;
        @include r(1531) {
          font-size: $h3-medium;
        }
        @include r(1200) {
          font-size: $h3-small;
        }
      }
      &-num {
        font-family: $mulig;
        font-size: 18px;
        margin-bottom: 40px;
        @include r(1200) {
          margin-bottom: 20px;
        }
        @include r(600) {
          font-family: $mreg;
          margin-bottom: 15px;
        }
        span:nth-child(1) {
          font-size: $p1;
          @include r(1531) {
            font-size: $p1-medium;
          }
          @include r(1200) {
            font-size: 20px;
          }
        }
      }
    }

    &--white {
      color: $black;
      background-color: #f6f6f6;
      .clients-case__stage-list {
        &::after {
          background-color: #fff;
        }
      }
    }
  }

  &-quote {
    color: $gray2;
    background-color: $dark;
    overflow: hidden;
    @include r(600) {
      padding: 35px 0;
    }
    &__image {
      @include r(600) {
        height: 400px;
        width: 100%;
        object-fit: cover;
      }
    }
    &__info {
      position: relative;
    }
    &__content {
      position: relative;
      &-wrp {
        position: relative;
      }
    }
    &__decor {
      position: absolute;
      opacity: .02;
      left: -150px;
      top: -90px;
      fill: #fff;
      @include r(1200) {
        width: 78px;
        height: 69px;
        left: 0;
        top: -40px;
      }
      &--2 {
        transform: scale(-1, -1);
        top: auto;
        right: -150px;
        bottom: -90px;
        left: auto;
        @include r(1200) {
          right: 0;
          bottom: 10px;
        }
      }
    }
  }
}