.product-page {
  &__item {
    &:not(:last-child) {
      margin-bottom: 70px;
      @include r(1200) {
        margin-bottom: 30px;
      }
    }
    &-image {
      max-height: 350px;
      @include r(1200) {
        width: 100%;
        max-height: 180px;
        object-fit: cover;
      }
    }
    &-title {
      min-height: 125px;
      display: flex;
      align-items: flex-end;
      @include r(1200) {
        min-height: unset;
      }
    }
    &-descr {
      position: relative;
      font-family: $mlig;
      margin-top: 54px;
      padding-left: 23px;
      padding-right: 23px;
      @include r(600) {
        padding-left: 73px;
      }
      &::before {
        position: absolute;
        content: '';
        width: 70%;
        height: 1px;
        left: 23px;
        top: -27px;
        background-color: $dark;
      }
    }
  }

  &__slider {
    &-loader {
      @include ovl;
      background-color: #fff;
      z-index: 2;
      .loader {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        height: 50px;
        width: 50px;
        margin: -25px 0 0 -25px;
      }

      .loader span {
        position: absolute;
        width: 10px;
        height: 10px;
        background: rgba(0, 0, 0, 0.25);
        border-radius: 50%;
        background: #34363C;
        -webkit-animation: preloader 1.7s infinite ease-in-out both;
        animation: preloader 1.7s infinite ease-in-out both;
        margin-right: 5px;
      }

      .loader span:nth-child(1) {
        left: 0;
        -webkit-animation-delay: 0.6s;
        animation-delay: 0.6s;
      }

      .loader span:nth-child(2) {
        left: 15px;
        -webkit-animation-delay: 0.4s;
        animation-delay: 0.4s;
      }

      .loader span:nth-child(3) {
        left: 30px;
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
      }

      .loader span:nth-child(4) {
        left: 45px;
        -webkit-animation-delay: 0.1s;
        animation-delay: 0.1s;
      }

      @-webkit-keyframes loader {
        0%, 80%, 100% {
          -webkit-transform: scale(0);
          transform: scale(0);
          transform: scale(0);
          opacity: 0;
        }
        40% {
          -webkit-transform: scale(1);
          transform: scale(1);
          transform: scale(1);
          opacity: 1;
        }
      }

      @keyframes loader {
        0%, 80%, 100% {
          -webkit-transform: scale(0);
          transform: scale(0);
          transform: scale(0);
          opacity: 0;
        }
        40% {
          -webkit-transform: scale(1);
          transform: scale(1);
          transform: scale(1);
          opacity: 1;
        }
      }
    }
    &-item {
      position: relative;
      .product-page__slider-nav {
        .button--square {
          position: absolute;
          bottom: 0;
          z-index: 1;
        }
        .button--square:nth-child(1) {
          left: 0;
        }
        .button--square:nth-child(2) {
          right: 0;
        }
      }
    }
    &-top {
      margin-bottom: 30px;
      &-item {
        width: 100%;
        min-height: 380px;
        @include cv;
        background-position-x: 0;
        @include r(1600) {
          min-height: 300px;
        }
        @include r(600) {
          min-height: 260px;
        }
      }
    }
    &-bot {
      &-item {
        width: 100%;
        min-height: 220px;
        @include ease;
        @include cv;
        background-position-x: 0;
        @include r(1600) {
          min-height: 180px;
        }
        @include r(600) {
          min-height: 130px;
        }
      }
    }
  }

  &__accordion {
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 35px;
      @include r(1600) {
        margin-bottom: 25px;
      }
      .product-page__accordion-descr {
        @include rmin(1200) {
          border-bottom: 1px solid $gray2;
        }
      }
    }

    &-wrp {
      position: relative;
    }

    &-nav {
      position: absolute;
      right: 0;
      top: 0;
      display: none;
      @include r(1200) {
        display: flex;
      }
      .button--square {
        width: 60px;
        height: 60px;
      }
    }

    &-list {
      max-height: 760px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      overflow-y: auto;
      padding-right: 20px;
      @include scroll;
      @include rmin(1200) {
        padding-left: 45px;
      }
      @include r(1200) {
        max-height: unset;
      }
    }

    &-title {
      cursor: pointer;
      @include cubic3;
      @include r(1200) {
        font-size: 25px;
        color: $orange;
        padding-right: 100px;
        min-height: 60px;
        display: flex;
        align-items: center;
      }
      &:hover {
        color: $gray;
      }
    }

    &-descr {
      margin-top: 25px;
      @include r(1600) {
        margin-top: 15px;
      }
      @include rmin(1200) {
        display: none;
      }
    }

    &.active {
      .product-page__accordion-title {
        color: $orange;
      }
    }
  }

  &__profit {
    &-image {
      min-height: 238px;
      @include cv;
      @include r(600) {
        min-height: 100px;
      }
    }
    &-descr {
      max-width: 366px;
    }
  }

  &__tariff {
    &-descr {
      max-width: 954px;
    }
    &-button {
      @include r(1200) {
        margin-left: auto;
        margin-right: auto;
      }
      @include r(600) {
        width: 100%;
      }
    }
    &-buttons {
      @include r(600) {
        width: 100%;
      }
      .button {
        padding-left: 40px;
        padding-right: 40px;
        @include r(600) {
          width: 100%;
        }
        @include rmin(600) {
          &:nth-child(1) {
            position: relative;
            z-index: 1;
          }
          &:nth-child(2) {
            margin-left: -1px;
          }
        }
      }
    }
  }
}
