<section class="about">
    <div class="about__left">
        <div class="about__image"></div>
    </div>
    <div class="about__right">
        <div class="section--inner">
            <div class="section__title mb-3">О компании</div>
            <div class="about__descr">
                <p>ByteCode — активно развивающийся интегратор, работающий на рынке России
                    и других стран СНГ. Основное направление компании — реализация комплексных CRM
                    и BPM проектовна платформе Creatio.</p>
                <p>Сотрудники ByteCode обладают экспертизой
                    в области проектирования и
                    оптимизации бизнес-процессов, а также интеграции
                    с системами любого
                    уровня — от биллинговых и учетных систем до мессенджеров и чат-ботов</p>
            </div>
            <div class="about__image d-block d-xl-none"></div>
            <div class="about__test">
                <div class="about__test-item about__test-item--1">
                    <div class="about__test-num">4</div>
                    <div class="about__test-title section__title">Года<br> на рынке</div>
                </div>
                <div class="about__test-item about__test-item--2">
                    <div class="about__test-num">5</div>
                    <div class="about__test-title section__title">Лет — средний опыт<br> работы сотрудников<br> на рынке BPM</div>
                </div>
                <div class="about__test-item about__test-item--3">
                    <div class="about__test-num"><span>2</span><span>0</span></div>
                    <div class="about__test-title section__title">Сертифицированных <br> экспертов</div>
                </div>
                <div class="about__test-item about__test-item--4">
                    <div class="about__test-num"><span>3</span><span>0</span><span>+</span></div>
                    <div class="about__test-title section__title">Запущенных<br> комплексных<br> проектов</div>
                </div>
            </div>
        </div>
    </div>
</section>
