<section class="cases section--inner">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-5">
            <div class="section__title">Наши кейсы</div>
            <a class="section__link" href="#">Все кейсы</a>
        </div>
        <div class="row">
            <div class="col-xl-6">
                <div class="cases__item" style="background-image: url('{{root}}assets/img/cases__item-bg--1.jpg')">
                    <div class="cases__item-top">
                        <img class="cases__item-logo" src="{{root}}assets/img/cases__item-logo--1.png" alt="cases__item-logo">
                    </div>
                    <div class="cases__item-bot">

                        <a class="product__title link-arrow" href="#">
                            <span class="link-arrow__title">
                                <span class="link-arrow__title-bg">
                                    <span>О том как мы внедряли для Company Service Creatio всего за два месяца.
                        Равным образом новая модель организационной деятельности требуют
                        определения и уточнения модели.</span>
                                </span>
                            </span>
                            <div class="link-arrow__button">
                                <svg width="13" height="22">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                        </a>

                        <div class="cases__item-descr">
                            Сумма оплат по заказам, проведенных через Service Creatio составляет уже
                            более 200+ миллионов рублей. Идейные соображения высшего порядка, а
                            также консультация с широким активом представляет собой интересный
                            эксперимент проверки модели развития.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="cases__item" style="background-image: url('{{root}}assets/img/cases__item-bg--1.jpg')">
                    <div class="cases__item-top">
                        <img class="cases__item-logo" src="{{root}}assets/img/cases__item-logo--1.png" alt="cases__item-logo">
                    </div>
                    <div class="cases__item-bot">

                        <a class="product__title link-arrow" href="#">
                            <span class="link-arrow__title">
                                <span class="link-arrow__title-bg">
                                    <span>О том как мы внедряли для Company Service Creatio всего за два месяца.
                        Равным образом новая модель организационной деятельности требуют
                        определения и уточнения модели.</span>
                                </span>
                            </span>
                            <div class="link-arrow__button">
                                <svg width="13" height="22">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                        </a>

                        <div class="cases__item-descr">
                            Сумма оплат по заказам, проведенных через Service Creatio составляет уже
                            более 200+ миллионов рублей. Идейные соображения высшего порядка, а
                            также консультация с широким активом представляет собой интересный
                            эксперимент проверки модели развития.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>