<section class="case-slider section--inner section--white">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-3 mb-xl-4">
            <div class="section__title">Другие наши кейсы</div>

            <div class="case-slider__nav d-flex">
                <button class="button--square button--square--tr button--square--tr--white js-case-slider__prev">
                    <svg width="13" height="22">
                        <use xlink:href="#arrow-left"></use>
                    </svg>
                </button>
                <button class="button--square button--square--tr button--square--tr--white js-case-slider__next">
                    <svg width="13" height="22">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="case-slider__in owl-carousel">
            <a class="case__item" style="background-image: url('{{root}}assets/img/cases__item-bg--1.jpg')" href="#">
                <span class="case__item-logo">logo</span>
                <div class="case__item-link">
                    <span>CRM для медицинского бизнеса</span>
                    <span class="case__item-arrow">
                            <svg width="41" height="10">
                                <use xlink:href="#long-arrow-right"></use>
                            </svg>
                        </span>
                </div>
            </a>
            <a class="case__item" style="background-image: url('{{root}}assets/img/cases__item-bg--2.jpg')" href="#">
                <span class="case__item-logo">logo</span>
                <div class="case__item-link">
                    <span>Как автоматизировать работу агентов недвижимости?</span>
                    <span class="case__item-arrow">
                            <svg width="41" height="10">
                                <use xlink:href="#long-arrow-right"></use>
                            </svg>
                        </span>
                </div>
            </a>
            <a class="case__item" style="background-image: url('{{root}}assets/img/cases__item-bg--1.jpg')" href="#">
                <span class="case__item-logo">logo</span>
                <div class="case__item-link">
                    <span>Как внедрить CRM за неделю и не упустить звонок на сто миллионов рублей</span>
                    <span class="case__item-arrow">
                            <svg width="41" height="10">
                                <use xlink:href="#long-arrow-right"></use>
                            </svg>
                        </span>
                </div>
            </a>
            <a class="case__item" style="background-image: url('{{root}}assets/img/cases__item-bg--1.jpg')" href="#">
                <span class="case__item-logo">logo</span>
                <div class="case__item-link">
                    <span>CRM для медицинского бизнеса</span>
                    <span class="case__item-arrow">
                            <svg width="41" height="10">
                                <use xlink:href="#long-arrow-right"></use>
                            </svg>
                        </span>
                </div>
            </a>
            <a class="case__item" style="background-image: url('{{root}}assets/img/cases__item-bg--2.jpg')" href="#">
                <span class="case__item-logo">logo</span>
                <div class="case__item-link">
                    <span>Как автоматизировать работу агентов недвижимости?</span>
                    <span class="case__item-arrow">
                            <svg width="41" height="10">
                                <use xlink:href="#long-arrow-right"></use>
                            </svg>
                        </span>
                </div>
            </a>
            <a class="case__item" style="background-image: url('{{root}}assets/img/cases__item-bg--1.jpg')" href="#">
                <span class="case__item-logo">logo</span>
                <div class="case__item-link">
                    <span>Как внедрить CRM за неделю и не упустить звонок на сто миллионов рублей</span>
                    <span class="case__item-arrow">
                            <svg width="41" height="10">
                                <use xlink:href="#long-arrow-right"></use>
                            </svg>
                        </span>
                </div>
            </a>
        </div>
    </div>
</section>