<section class="contacts section--inner">
    <div class="container">
        <div class="text-center mb-4 mb-xl-5">
            <div class="section__title">Контакты</div>
        </div>
        <div class="row">
            <div class="col-sm-6 mb-3 mb-xl-5">
                <div class="contacts__item d-flex flex-column align-items-center text-center">
                    <div class="section__title mb-3">Офис в Самаре</div>
                    <a class="contacts__link mb-2" href="tel:88462007762">8 846 200 77 62</a>
                    <div class="mb-2">ул. Аэродромная, д. 45, к. БЦ «А-45», оф. 702/1</div>
                    <a class="contacts__link" href="mailto:info@bytecodecrm.ru">info@bytecodecrm.ru</a>
                </div>
            </div>
            <div class="col-sm-6 mb-3 mb-xl-5">
                <div class="contacts__item d-flex flex-column align-items-center text-center">
                    <div class="section__title mb-3">Офис в Москве</div>
                    <a class="contacts__link mb-2" href="tel:84954814696">8 495 481 46 96</a>
                    <div class="mb-2">ул. Казакова, д. 8, стр. 2</div>
                    <a class="contacts__link" href="mailto:info@bytecodecrm.ru">info@bytecodecrm.ru</a>
                </div>
            </div>
            <div class="col-xl-6 mb-3 mb-xl-5">
                <div class="contacts__item d-flex flex-column align-items-center text-center">
                    <div class="section__title mb-3">Режим работы</div>
                    <div class="mb-2">пн-пт 9-18 по мск</div>
                    <div>сб и вс — выходной</div>
                </div>
            </div>
            <div class="col-xl-6 mb-3 mb-xl-5">
                <div class="contacts__item d-flex flex-column align-items-center text-center">
                    <div class="section__title mb-3">Реквизиты</div>
                    <div class="mb-2">ООО «БАЙТ КОД», ИНН 6312171394</div>
                    <div>ОГРН 1176313029573, КПП 631101001</div>
                </div>
            </div>
        </div>
    </div>
</section>