<form class="feed section--inner">
    <div class="container">
        <div class="text-center mb-4">
            <div class="section__title mb-4">Оставьте заявку на проведение<br> предпроектного обследования</div>
            <div class="ulight">Оставьте заявку на подготовительные работы по вашему проекту.<br>
                Мы обработаем запрос и свяжемся с вами в течение дня</div>
        </div>
        <div class="row">
            <div class="col-xl-6 mb-5">
                <input class="w-100 mb-3" type="text" placeholder="Имя*">
                <input class="w-100 mb-3" type="email" placeholder="E-mail*">
                <input class="w-100" type="tel" placeholder="Телефон*">
            </div>
            <div class="col-xl-6 mb-5">
                <textarea class="feed__textarea w-100" placeholder="Ваше сообщение*"></textarea>
            </div>
            <div class="col-xl-6 mb-4">
                <div class="d-flex">
                    <button class="button button--white w-50 mr-3" type="submit">Отправить заявку</button>
                    <label class="button button--tr button--tr-white button--file w-50">
                        <span>Прикрепить файл</span>
                        <svg class="ml-2" width="45" height="45">
                            <use xlink:href="#brace"></use>
                        </svg>
                    </label>
                </div>
            </div>
            <div class="col-xl-6 mb-4">
                <div class="file-list">
                    <div class="file">
                        <div class="file__name">Наименование файла.pdf</div>
                        <div class="file__size">12 mb</div>
                        <button class="file__button" type="button">
                            <svg width="23" height="24">
                                <use xlink:href="#cross"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="file">
                        <div class="file__name">Наименование второго файла.png</div>
                        <div class="file__size">35 kb</div>
                        <button class="file__button" type="button">
                            <svg width="23" height="24">
                                <use xlink:href="#cross"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            <div class="text-center w-100">
                <span class="p2">Нажимая на кнопку «Отправить заявку», вы даёте согласие на <a class="pink und" href="#">обработку персональных данных</a></span>
            </div>
        </div>
    </div>
</form>