<footer class="footer">
    <div class="container">
        <div class="row mb-3 mb-xl-5">
            <div class="col-xl-4 col-sm-6">
                <div class="mb-1">
                    <a class="bold white" href="tel:88462007762">8 846 200 77 62</a>
                    <span class="footer__divider">|</span>
                    <span>Самара</span>
                </div>
                <div class="mb-3">
                    <a class="bold white" href="tel:84954814696">8 495 481-46-96</a>
                    <span class="footer__divider">|</span>
                    <span>Москва</span>
                </div>
                <div class="mb-3">пн-пт 9-18 по мск</div>

                <div class="mb-1">
                    <a class="bold white" href="mailto:info@bytecodecrm.ru">info@bytecodecrm.ru</a>
                    <span class="footer__divider">|</span>
                    <span>Для предложений</span>
                </div>
                <div class="mb-3">
                    <a class="bold white" href="mailto:sales@bytecodecrm.ru">sales@bytecodecrm.ru</a>
                    <span class="footer__divider">|</span>
                    <span>Для заявок</span>
                </div>

                <div class="mb-1">
                    <span class="bold white">Самара:</span>
                    <span>ул. Аэродромная, д. 45, к. БЦ «А-45», оф. 702/1</span>
                </div>
                <div>
                    <span class="bold white">Москва:</span>
                    <span>ул. Казакова, д. 8, стр. 2</span>
                </div>
            </div>
            <div class="offset-xl-1 col-xl-5 d-flex">
                <div class="d-flex flex-column justify-content-between align-items-start mr-5">
                    <a class="footer__link" href="#">Продукты</a>
                    <a class="footer__link" href="#">О компании</a>
                    <a class="footer__link" href="#">Кейсы</a>
                    <a class="footer__link" href="#">Клиенты</a>
                    <a class="footer__link" href="#">Новости</a>
                    <a class="footer__link" href="#">Контакты</a>
                </div>
                <div class="d-flex flex-column justify-content-between align-items-start">
                    <a class="footer__link" href="#">Услуги</a>
                    <a class="footer__link" href="#">Еще ссылка на страницу</a>
                    <a class="footer__link" href="#">Ссылка</a>
                    <a class="footer__link" href="#">Согласие на обработку персональных данных</a>
                    <a class="footer__link" href="#">Ссылка</a>
                    <a class="footer__link" href="#">Ссылка</a>
                </div>
            </div>
            <div class="col-xl-2">
                <div class="footer__socials">
                    <div class="footer__socials-title">Мы в социальных сетях</div>
                    <div class="d-flex justify-content-between align-items-center">
                        <a class="footer__socials-link" href="#">
                            <svg class="footer__socials-icon" width="9" height="20">
                                <use xlink:href="#fb"></use>
                            </svg>
                        </a>
                        <a class="footer__socials-link" href="#">
                            <svg class="footer__socials-icon" width="21" height="21">
                                <use xlink:href="#in"></use>
                            </svg>
                        </a>
                        <a class="footer__socials-link" href="#">
                            <svg class="footer__socials-icon" width="18" height="18">
                                <use xlink:href="#tg"></use>
                            </svg>
                        </a>
                        <a class="footer__socials-link" href="#">
                            <svg class="footer__socials-icon" width="22" height="16">
                                <use xlink:href="#yu"></use>
                            </svg>
                        </a>
                        <a class="footer__socials-link" href="#">
                            <svg class="footer__socials-icon" width="20" height="12">
                                <use xlink:href="#vk"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <a href="#" class="footer__logo">
                <svg class="footer__logo-icon" width="198" height="47">
                    <use xlink:href="#logo"></use>
                </svg>
                <span class="footer__logo-text">автоматизация CRM-процессов</span>
            </a>
            <div class="footer__copy">
                <div class="mb-1">© 2020 «БК».</div>
                Все права защищены.
            </div>
        </div>
    </div>
</footer>
