<header class="header__in">
    <button class="header__ui header__hmb js-toggle-menu d-none d-xl-flex" type="button">
        <div class="header__hmb-in">
            <div class="header__hmb-icon header__hmb-icon--1">
                <svg width="47" height="16">
                    <use xlink:href="#hamburger"></use>
                </svg>
            </div>
            <div class="header__hmb-icon header__hmb-icon--2">
                <svg width="36" height="36">
                    <use xlink:href="#cross"></use>
                </svg>
            </div>
        </div>
    </button>
    <div class="header">
        <div class="header__overlay js-header__overlay"></div>
        <div class="header__top">
            <div class="header__top-in">
                <div class="container">
                    <div class="header__row flex-column flex-sm-row">
                        <a href="index.html" class="header__logo order-3 order-sm-1 mt-4 mt-sm-0">
                            <svg class="header__logo-icon" width="177" height="37">
                                <use class="header__logo-icon-use" xlink:href="#logo"></use>
                            </svg>
                            <span class="header__logo-text">Внедрение BPM<br> и&nbsp;CRM решений</span>
                        </a>
                        <div class="header__contacts d-none d-xl-flex order-2">
                            <div class="header__item">
                                <svg width="18" height="23">
                                    <use xlink:href="#geo"></use>
                                </svg>
                                <span class="ml-2">Москва, ул. Казакова, д. 8, стр. 2</span>
                            </div>
                            <div class="header__item">
                                <svg width="23" height="23">
                                    <use xlink:href="#clocks"></use>
                                </svg>
                                <span class="ml-2">пн-пт с 9 до 18 по мск</span>
                            </div>
                            <a class="header__item header__item-link" href="mailto:sales@bytecodecrm.ru">
                                <svg width="25" height="20">
                                    <use xlink:href="#mail"></use>
                                </svg>
                                <span class="ml-2">sales@bytecodecrm.ru</span>
                            </a>
                        </div>
                        <a class="header__tel order-1 order-sm-3 align-self-start align-self-sm-auto" href="tel:84954814696">8 495 481-46-96</a>
                        <button class="header__ui header__hmb js-toggle-menu d-block d-xl-none" type="button">
                            <div class="header__hmb-in">
                                <div class="header__hmb-icon header__hmb-icon--1">
                                    <svg width="35" height="12">
                                        <use xlink:href="#hamburger"></use>
                                    </svg>
                                </div>
                                <div class="header__hmb-icon header__hmb-icon--2">
                                    <svg width="35" height="35">
                                        <use xlink:href="#cross"></use>
                                    </svg>
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="header__bot">
            <div class="header__bot-in" id="mobile-menu">
                <div class="container">
                    <div class="header__bot-in-top">
                        <div class="header__logo">
                            <svg class="header__logo-icon" width="110" height="23">
                                <use class="header__logo-icon-use" xlink:href="#logo"></use>
                            </svg>
                        </div>
                        <div class="header__hmb-icon js-close-mob-menu">
                            <svg width="25" height="25">
                                <use xlink:href="#cross"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="header__contacts d-xl-none d-flex flex-column align-items-center">
                        <div class="header__item mb-3">
                            <svg width="18" height="23">
                                <use xlink:href="#geo"></use>
                            </svg>
                            <span class="ml-2">Москва, ул. Казакова, д. 8, стр. 2</span>
                        </div>
                        <div class="header__item mb-3">
                            <svg width="23" height="23">
                                <use xlink:href="#clocks"></use>
                            </svg>
                            <span class="ml-2">пн-пт с 9 до 18 по мск</span>
                        </div>
                        <a class="header__item header__item-link mb-3" href="mailto:sales@bytecodecrm.ru">
                            <svg width="25" height="20">
                                <use xlink:href="#mail"></use>
                            </svg>
                            <span class="ml-2">sales@bytecodecrm.ru</span>
                        </a>
                        <a class="header__tel" href="tel:84954814696">8 495 481-46-96</a>
                    </div>
                    <div class="header__row flex-column flex-xl-row mt-3 mt-xl-0">
                        <nav class="header__nav order-2 order-xl-1">
                            <div class="header__nav-link-wrp">
                                <a class="header__nav-link" href="#">
                                    <span>Продукты</span>
                                    <span class="header__nav-link-arrow">
                                        <svg width="9" height="45">
                                            <use xlink:href="#long-arrow-bottom"></use>
                                        </svg>
                                    </span>
                                </a>
                                <div class="header__dropdown">
                                    <div class="header__dropdown-in">
                                        <div class="light mb-4">CRM-решения</div>
                                        <div class="row">
                                            <div class="col-xl-6">
                                                <div class="header__dropdown-item">
                                                    <a class="header__dropdown-link mb-2" href="#">Distributors Creatio</a>
                                                    <div class="p3">Платформа Creatio — это полный набор
                                                        инструментов для быстрого изменения бизнес-
                                                        процессов, включая проектирование, исполнение и
                                                        мониторинг.</div>
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="header__dropdown-item">
                                                    <a class="header__dropdown-link mb-2" href="#">Sales Creatio</a>
                                                    <div class="p3">Платформа Creatio — это полный набор
                                                        инструментов для быстрого изменения бизнес-
                                                        процессов, включая проектирование, исполнение и
                                                        мониторинг.</div>
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="header__dropdown-item">
                                                    <a class="header__dropdown-link mb-2" href="#">Marketing Creatio</a>
                                                    <div class="p3">Мультиканальная платформа для управления
                                                        маркетинговыми кампаниями</div>
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="header__dropdown-item">
                                                    <a class="header__dropdown-link mb-2" href="#">Sales Creatio</a>
                                                    <div class="p3">Платформа Creatio — это полный набор
                                                        инструментов для быстрого изменения бизнес-
                                                        процессов, включая проектирование, исполнение и
                                                        мониторинг.</div>
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="header__dropdown-item">
                                                    <a class="header__dropdown-link mb-2" href="#">Sales Creatio</a>
                                                    <div class="p3">Платформа Creatio — это полный набор
                                                        инструментов для быстрого изменения бизнес-
                                                        процессов, включая проектирование, исполнение и
                                                        мониторинг.</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="header__promo" style="background-image: url('{{root}}assets/img/header__promo-bg.jpg');">
                                        <div class="header__promo-in">
                                            <div class="header__promo-title">25% на Marketing Creatio</div>
                                            <div class="header__promo-descr light">Первые 2000 лицензий со скидкой 25%! Предложение ограничено. Внедрение не
                                                входит в стоимость приобретения.</div>
                                        </div>
                                        <button class="button--square button--square--white">
                                            <svg width="13" height="22">
                                                <use xlink:href="#arrow-right"></use>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="header__nav-link-wrp">
                                <a class="header__nav-link" href="#">
                                    <span>Услуги</span>
                                    <span class="header__nav-link-arrow">
                                        <svg width="9" height="45">
                                            <use xlink:href="#long-arrow-bottom"></use>
                                        </svg>
                                    </span>
                                </a>
                                <div class="header__dropdown">
                                    <div class="header__dropdown-in">
                                        <div class="light mb-4">CRM-решения</div>
                                        <div class="row">
                                            <div class="col-xl-4">
                                                <div class="header__dropdown-item">
                                                    <a class="header__dropdown-link mb-2" href="#">Название Услуги номер 1</a>
                                                    <div class="p3">Платформа Creatio — это полный набор
                                                        инструментов для быстрого изменения бизнес-
                                                        процессов, включая проектирование, исполнение и
                                                        мониторинг.</div>
                                                </div>
                                            </div>
                                            <div class="col-xl-4">
                                                <div class="header__dropdown-item">
                                                    <a class="header__dropdown-link mb-2" href="#">Название Услуги для по
                                                        ускоренному внедрению</a>
                                                    <div class="p3">Платформа Creatio — это полный набор
                                                        инструментов для быстрого изменения бизнес-
                                                        процессов, включая проектирование, исполнение и
                                                        мониторинг.</div>
                                                </div>
                                            </div>
                                            <div class="col-xl-4">
                                                <div class="header__dropdown-item">
                                                    <a class="header__dropdown-link mb-2" href="#">Новая услуга</a>
                                                    <div class="p3">Мультиканальная платформа для управления
                                                        маркетинговыми кампаниями</div>
                                                </div>
                                            </div>
                                            <div class="col-xl-4">
                                                <div class="header__dropdown-item">
                                                    <a class="header__dropdown-link mb-2" href="#">Sales Creatio</a>
                                                    <div class="p3">Платформа Creatio — это полный набор
                                                        инструментов для быстрого изменения бизнес-
                                                        процессов, включая проектирование, исполнение и
                                                        мониторинг.</div>
                                                </div>
                                            </div>
                                            <div class="col-xl-4">
                                                <div class="header__dropdown-item">
                                                    <a class="header__dropdown-link mb-2" href="#">Sales Creatio</a>
                                                    <div class="p3">Платформа Creatio — это полный набор
                                                        инструментов для быстрого изменения бизнес-
                                                        процессов, включая проектирование, исполнение и
                                                        мониторинг.</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="header__nav-link-wrp">
                                <a class="header__nav-link" href="#"><span>Кейсы</span></a>
                            </div>
                            <div class="header__nav-link-wrp">
                                <a class="header__nav-link" href="#"><span>Клиенты</span></a>
                            </div>
                            <div class="header__nav-link-wrp">
                                <a class="header__nav-link" href="#"><span>Новости</span></a>
                            </div>
                            <div class="header__nav-link-wrp">
                                <a class="header__nav-link" href="#"><span>О компании</span></a>
                            </div>
                            <div class="header__nav-link-wrp">
                                <a class="header__nav-link" href="#"><span>Контакты</span></a>
                            </div>
                        </nav>
                        <button class="header__button order-1 order-xl-2 mb-4 mb-xl-0" data-fancybox data-src="#popup--call">Задать вопрос</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>