<section class="news section--inner">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-5">
            <div class="section__title">Новости</div>
            <a class="section__link" href="#">Все новости</a>
        </div>
    </div>
    <div class="news__in">
        <div class="container">
            <div class="news__slider owl-carousel">
                <div class="news__item">
                    <div class="news__item-date">
                        05 <span>/ июня '20</span>
                    </div>
                    <a class="news__item-link" href="#">
                        <span>Всё для организации электронного документооборота — подборка готовых решений на Creatio Marketplace </span>
                        <span class="news__item-arrow">
                    <svg width="41" height="10">
                        <use xlink:href="#long-arrow-right"></use>
                    </svg>
                </span>
                    </a>
                    <div class="news__item-descr">
                        Преимущества перехода на электронный документооборот сложно переоценить:
                        процесс становится менее ресурсоемким,
                        обмен подписанными документами происходит моментально, нет бумажных аналогов и расходов
                        на печать...
                    </div>
                </div>
                <div class="news__item">
                    <div class="news__item-date">
                        09 <span>/ июня '20</span>
                    </div>
                    <a class="news__item-link" href="#">
                        <span>Холдинг КОМОС ГРУПП внедрил систему управления ИТ-процессами на базе решения ITSM Box Creatio</span>
                        <span class="news__item-arrow">
                    <svg width="41" height="10">
                        <use xlink:href="#long-arrow-right"></use>
                    </svg>
                </span>
                    </a>
                    <div class="news__item-descr">Один из крупнейших агрохолдингов России, внедрил систему управления ИТ-процессами
                        на базе решения ITSM Box Creatio. Она стала для компании мощным фундаментом для оптимизации процессов поддержки и предоставления ИТ-услуг и, как результат, повышения эффективности предприятия...</div>
                </div>
                <div class="news__item">
                    <div class="news__item-date">
                        04 <span>/ июня '20</span>
                    </div>
                    <a class="news__item-link" href="#">
                        <span>Проекты трансформации клиентского сервиса в «Службе добрых дел» — в числе лучших по версии СХ WORLD AWARDS ВСЕ НОВОСТИ</span>
                        <span class="news__item-arrow">
                    <svg width="41" height="10">
                        <use xlink:href="#long-arrow-right"></use>
                    </svg>
                </span>
                    </a>
                    <div class="news__item-descr">«Служба добрых дел», предоставляющая услуги по обслуживанию цифровой техники, получила признание сразу в нескольких номинациях международной премии CX WORLD AWARDS. Компания стала победителем в номинации «Клиентский опыт в контакт-центре», дошла до финала в категориях «Клиентоцентричная корпоративная культура» и «Проект изменения, СХ трансформация бизнеса», а также получила высокое одобрение жюри в номинации «Лучший клиентский опыт в B2C»...</div>
                </div>
                <div class="news__item">
                    <div class="news__item-date">
                        09 <span>/ июня '20</span>
                    </div>
                    <a class="news__item-link" href="#">
                        <span>Холдинг КОМОС ГРУПП внедрил систему управления ИТ-процессами на базе решения ITSM Box Creatio</span>
                        <span class="news__item-arrow">
                    <svg width="41" height="10">
                        <use xlink:href="#long-arrow-right"></use>
                    </svg>
                </span>
                    </a>
                    <div class="news__item-descr">
                        Преимущества перехода на электронный документооборот сложно переоценить:
                        процесс становится менее ресурсоемким,
                        обмен подписанными документами происходит моментально, нет бумажных аналогов и расходов
                        на печать...
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
