<div class="pagination">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <a class="button--square button--square--tr" href="#">
                <svg width="13" height="22">
                    <use xlink:href="#arrow-left"></use>
                </svg>
            </a>
            <div class="pagination__list">
                <a class="pagination__link" href="#">1</a>
                <a class="pagination__link" href="#">2</a>
                <a class="pagination__link" href="#">3</a>
                <a class="pagination__link pagination__link--here" href="#">4</a>
                <a class="pagination__link" href="#">5</a>
                <a class="pagination__link" href="#">6</a>
                <a class="pagination__link" href="#">7</a>
            </div>
            <a class="button--square button--square--tr" href="#">
                <svg width="13" height="22">
                    <use xlink:href="#arrow-right"></use>
                </svg>
            </a>
        </div>
    </div>
</div>