<section class="products section--inner">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-5">
            <div class="section__title">Продукты</div>
            <div class="products__count-wrp d-sm-none">
                <span class="products__count">01</span>/<span class="products__count-amount">02</span>
            </div>
            <a class="section__link d-none d-sm-block" href="#">Все продукты</a>
        </div>
    </div>
    <div class="products__in">
        <div class="products__slider owl-carousel">
            <div class="product">
                <div class="product__num">
                    <span>01</span>/<span class="product__count"></span>
                </div>
                <a class="product__title" href="#">
                    <span class="link-arrow">
                        <span class="link-arrow__title">
                            <span class="link-arrow__title-bg">
                                <span>Название продукта, например это будет Distributors Creatio</span>
                            </span>
                        </span>
                        <div class="link-arrow__button button--square">
                            <svg width="13" height="22">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </div>
                    </span>
                </a>
                <div class="product__descr">
                    Комплексное решение для управления
                    внутренним и внешним сервисом
                </div>
            </div>
            <div class="product">
                <div class="product__num">
                    <span>02</span>/<span class="product__count"></span>
                </div>
                <a class="product__title" href="#">
                    <span class="link-arrow">
                        <span class="link-arrow__title">
                            <span class="link-arrow__title-bg">
                                <span>Название продукта, например это будет Sales Creatio</span>
                            </span>
                        </span>
                        <div class="link-arrow__button button--square">
                            <svg width="13" height="22">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </div>
                    </span>
                </a>
                <div class="product__descr">
                    Комплексное решение для управления
                    внутренним и внешним сервисом
                </div>
            </div>
            <div class="product">
                <div class="product__num">
                    <span>03</span>/<span class="product__count"></span>
                </div>
                <a class="product__title" href="#">
                    <span class="link-arrow">
                        <span class="link-arrow__title">
                            <span class="link-arrow__title-bg">
                                <span>Marketing Creatio</span>
                            </span>
                        </span>
                        <div class="link-arrow__button button--square">
                            <svg width="13" height="22">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </div>
                    </span>
                </a>
                <div class="product__descr">
                    Комплексное решение для управления
                    внутренним и внешним сервисом
                </div>
            </div>
            <div class="product">
                <div class="product__num">
                    <span>04</span>/<span class="product__count"></span>
                </div>
                <a class="product__title" href="#">
                    <span class="link-arrow">
                        <span class="link-arrow__title">
                            <span class="link-arrow__title-bg">
                                <span>Название продукты, например это будет Cervice Creatio</span>
                            </span>
                        </span>
                        <div class="link-arrow__button button--square">
                            <svg width="13" height="22">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </div>
                    </span>
                </a>
                <div class="product__descr">
                    Комплексное решение для управления
                    внутренним и внешним сервисом
                </div>
            </div>
        </div>
    </div>
    <div class="products__nav d-flex d-sm-none justify-content-between align-items-center mt-3">
        <button class="button--square button--square--black js-products-prev">
            <svg width="13" height="22">
                <use xlink:href="#arrow-left"></use>
            </svg>
        </button>
        <a href="#">Все продукты</a>
        <button class="button--square js-products-next">
            <svg width="13" height="22">
                <use xlink:href="#arrow-right"></use>
            </svg>
        </button>
    </div>
</section>
