<section class="products section--inner">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-5">
            <div class="section__title">Продукты</div>
            <a class="section__link" href="#">Все продукты</a>
        </div>
        <div class="products__slider">
            <div class="product">
                <div class="product__num">
                    <span>01</span>/04
                </div>
                <a class="product__title link-arrow" href="#">
                    <span class="link-arrow__title">
                        <span class="link-arrow__title-bg">
                            <span>Название продукта, например это будет Distributors Creatio</span>
                        </span>
                    </span>
                    <div class="link-arrow__button button--square">
                        <svg width="13" height="22">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </div>
                </a>
                <div class="product__descr">
                    Комплексное решение для управления
                    внутренним и внешним сервисом
                </div>
            </div>
        </div>
    </div>
</section>
