<section class="reward">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="section--inner pb-0 d-flex flex-column h-100">
                    <div class="section__title">Отечественный софт
                        с&nbsp;международным признанием</div>
                    <div class="reward__descr flex-grow-1 d-flex flex-column justify-content-center">
                        <div class="bold mb-4">Creatio удостоен награды Stevie® Award в 2019 году American Business
                            Awards®
                        </div>
                        <p class="p2">Creatio всегда была сосредоточена на предоставлении своим клиентам лучших в своем классе технологий с низким кодом, BPM и CRM. Программное обеспечение стремится помочь организациям всех размеров и типов быть в состоянии соответствовать постоянно меняющимся требованиям делового мира. Каждый год bpm'online получает самые авторитетные отраслевые награды, и 2019 год не является исключением.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="reward__right">
                    <img src="{{root}}assets/img/reward__image--1.jpg" alt="reward__image--1">
                    <div class="reward__logo-wrapper">
                        <img src="{{root}}assets/img/reward__image--2.jpg" alt="reward__logo">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="reward__brands">
        <img class="reward__brands-image" src="{{root}}assets/img/reward__brands-image--1.png" alt="reward__brand">
        <img class="reward__brands-image" src="{{root}}assets/img/reward__brands-image--2.png" alt="reward__brand">
        <img class="reward__brands-image" src="{{root}}assets/img/reward__brands-image--3.png" alt="reward__brand">
        <img class="reward__brands-image" src="{{root}}assets/img/reward__brands-image--4.png" alt="reward__brand">
        <img class="reward__brands-image" src="{{root}}assets/img/reward__brands-image--5.png" alt="reward__brand">
        <img class="reward__brands-image" src="{{root}}assets/img/reward__brands-image--6.png" alt="reward__brand">
        <img class="reward__brands-image" src="{{root}}assets/img/reward__brands-image--1.png" alt="reward__brand">
        <img class="reward__brands-image" src="{{root}}assets/img/reward__brands-image--2.png" alt="reward__brand">
        <img class="reward__brands-image" src="{{root}}assets/img/reward__brands-image--3.png" alt="reward__brand">
        <img class="reward__brands-image" src="{{root}}assets/img/reward__brands-image--4.png" alt="reward__brand">
        <img class="reward__brands-image" src="{{root}}assets/img/reward__brands-image--5.png" alt="reward__brand">
        <img class="reward__brands-image" src="{{root}}assets/img/reward__brands-image--6.png" alt="reward__brand">
        <img class="reward__brands-image" src="{{root}}assets/img/reward__brands-image--1.png" alt="reward__brand">
        <img class="reward__brands-image" src="{{root}}assets/img/reward__brands-image--2.png" alt="reward__brand">
        <img class="reward__brands-image" src="{{root}}assets/img/reward__brands-image--3.png" alt="reward__brand">
        <img class="reward__brands-image" src="{{root}}assets/img/reward__brands-image--4.png" alt="reward__brand">
        <img class="reward__brands-image" src="{{root}}assets/img/reward__brands-image--5.png" alt="reward__brand">
        <img class="reward__brands-image" src="{{root}}assets/img/reward__brands-image--6.png" alt="reward__brand">
    </div>
</section>