<section class="slider">
    <div class="slider__in owl-carousel">
        <div class="slider__item slider__item--1">
            <div class="slider__item-overlay"></div>
            <div class="slider__item-promo">
                <div class="slider__item-count-wrp">
                    01<span>/<span class="slider__item-count"></span></span>
                </div>
                <div class="slider__item-promo-title">Заголовок для примера, где будет написана главная мысль</div>
            </div>
            <div class="container h-100">
                <div class="slider__item-in h-100">
                    <div class="row h-100">
                        <div class="col-xl-5 h-100">
                            <div class="d-flex flex-column justify-content-between align-items-start h-100 slider__item-descr">
                                <div class="d-flex flex-column justify-content-center mb-2 flex-grow-1">
                                    <div class="section__title mb-3">Заголовок для примера, где будет написана главная мысль</div>
                                    <p class="ulight">по внедрению BPM и CRM решений<br> на LOW-CODE платформах</p>
                                </div>
                                <a class="button button--white" href="#">Кнопка перехода</a>
                            </div>
                        </div>
                        <div class="col-xl-7 slider__item-img-wrp">
                            <img class="slider__item-img img-responsive" src="{{root}}assets/img/slider__img--1.png" alt="slider__image">
                            <svg width="600" height="600" class="slider__item-blur">
                                <use xlink:href="#slider-blur"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider__nav">
                <button class="button--square button--square--white js-slider-prev">
                    <svg width="13" height="22">
                        <use xlink:href="#arrow-left"></use>
                    </svg>
                </button>
                <button class="button--square button--square--dark js-slider-next">
                    <svg width="13" height="22">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="slider__item slider__item--2">
            <div class="slider__item-overlay"></div>
            <div class="slider__item-promo">
                <div class="slider__item-count-wrp">
                    02<span>/<span class="slider__item-count"></span></span>
                </div>
                <div class="slider__item-promo-title">Заголовок для примера, где будет написана главная мысль</div>
            </div>
            <div class="container h-100">
                <div class="slider__item-in h-100">
                    <div class="row h-100">
                        <div class="col-xl-5 h-100">
                            <div class="d-flex flex-column justify-content-between align-items-start h-100 slider__item-descr">
                                <div class="d-flex flex-column justify-content-center mb-2 flex-grow-1">
                                    <div class="section__title mb-3">Заголовок для примера, где будет написана главная мысль</div>
                                    <p class="ulight">по внедрению BPM и CRM<br>
                                        решений на LOW-CODE<br> платформах</p>
                                </div>
                                <a class="button button--red" href="#">Кнопка перехода</a>
                            </div>
                        </div>
                        <div class="col-xl-7 slider__item-img-wrp">
                            <img class="slider__item-img img-responsive" src="{{root}}assets/img/slider__img--2.png" alt="slider__image">
                            <svg width="600" height="600" class="slider__item-blur">
                                <use xlink:href="#slider-blur"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider__nav">
                <button class="button--square button--square--white js-slider-prev">
                    <svg width="13" height="22">
                        <use xlink:href="#arrow-left"></use>
                    </svg>
                </button>
                <button class="button--square js-slider-next">
                    <svg width="13" height="22">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="slider__item slider__item--3">
            <div class="slider__item-overlay"></div>
            <div class="slider__item-promo">
                <div class="slider__item-count-wrp">
                    03<span>/<span class="slider__item-count"></span></span>
                </div>
                <div class="slider__item-promo-title">Заголовок для примера, где будет написана главная мысль</div>
            </div>
            <div class="container h-100">
                <div class="slider__item-in h-100">
                    <div class="row h-100">
                        <div class="col-xl-4 h-100">
                            <div class="d-flex flex-column justify-content-between align-items-start h-100 slider__item-descr">
                                <div class="d-flex flex-column justify-content-center mb-2 flex-grow-1">
                                    <div class="section__title mb-3">Заголовок для примера, где будет написана главная мысль</div>
                                    <p class="ulight">по внедрению BPM и CRM<br>
                                        решений на LOW-CODE<br> платформах</p>
                                </div>
                                <a class="button" href="#">Кнопка перехода</a>
                            </div>
                        </div>
                        <div class="col-xl-8 slider__item-img-wrp">
                            <img class="slider__item-img img-responsive" src="{{root}}assets/img/slider__img--3.png" alt="slider__image">
                            <svg width="600" height="600" class="slider__item-blur">
                                <use xlink:href="#slider-blur"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider__nav">
                <button class="button--square button--square--white js-slider-prev">
                    <svg width="13" height="22">
                        <use xlink:href="#arrow-left"></use>
                    </svg>
                </button>
                <button class="button--square button--square--gray js-slider-next">
                    <svg width="13" height="22">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="slider__item slider__item--4">
            <div class="slider__item-overlay"></div>
            <div class="slider__item-promo">
                <div class="slider__item-count-wrp">
                    04<span>/<span class="slider__item-count"></span></span>
                </div>
                <div class="slider__item-promo-title">Заголовок для примера, где будет написана главная мысль</div>
            </div>
            <div class="container h-100">
                <div class="slider__item-in h-100">
                    <div class="row h-100">
                        <div class="col-xl-4 h-100">
                            <div class="d-flex flex-column justify-content-between align-items-start h-100 slider__item-descr">
                                <div class="d-flex flex-column justify-content-center mb-2 flex-grow-1">
                                    <div class="section__title mb-3">Заголовок для примера, где будет написана главная мысль</div>
                                    <p class="ulight">по внедрению BPM и CRM<br>
                                        решений на LOW-CODE<br> платформах</p>
                                </div>
                                <a class="button button--white" href="#">Кнопка перехода</a>
                            </div>
                        </div>
                        <div class="col-xl-8 slider__item-img-wrp">
                            <img class="slider__item-img img-responsive" src="{{root}}assets/img/slider__img--4.png" alt="slider__image">
                            <svg width="600" height="600" class="slider__item-blur">
                                <use xlink:href="#slider-blur"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider__nav">
                <button class="button--square button--square--white js-slider-prev">
                    <svg width="13" height="22">
                        <use xlink:href="#arrow-left"></use>
                    </svg>
                </button>
                <button class="button--square button--square--red js-slider-next">
                    <svg width="13" height="22">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>