<section class="tech section--inner">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <div class="section__title">Уже используют <br>
                технологии <span class="orange">Creatio</span></div>
            <a class="section__link" href="#">Все клиенты</a>
        </div>
        <div class="ulight mb-5">для автоматизации IT <br> и сервисного обслуживания</div>
        <div class="row">
            <div class="col-xl-2 mb-3">
                <a class="tech__brand" href="#">
                    <img class="tech__brand-image" src="{{root}}assets/img/tech__brand--1.png" alt="tech__brand">
                    <svg class="tech__brand-arrow" width="41" height="10">
                        <use xlink:href="#long-arrow-right"></use>
                    </svg>
                </a>
            </div>
            <div class="col-xl-2 mb-3">
                <a class="tech__brand" href="#">
                    <img class="tech__brand-image" src="{{root}}assets/img/tech__brand--2.png" alt="tech__brand">
                    <svg class="tech__brand-arrow" width="41" height="10">
                        <use xlink:href="#long-arrow-right"></use>
                    </svg>
                </a>
            </div>
            <div class="col-xl-2 mb-3">
                <a class="tech__brand" href="#">
                    <img class="tech__brand-image" src="{{root}}assets/img/tech__brand--3.png" alt="tech__brand">
                    <svg class="tech__brand-arrow" width="41" height="10">
                        <use xlink:href="#long-arrow-right"></use>
                    </svg>
                </a>
            </div>
            <div class="col-xl-2 mb-3">
                <a class="tech__brand" href="#">
                    <img class="tech__brand-image" src="{{root}}assets/img/tech__brand--4.png" alt="tech__brand">
                    <svg class="tech__brand-arrow" width="41" height="10">
                        <use xlink:href="#long-arrow-right"></use>
                    </svg>
                </a>
            </div>
            <div class="col-xl-2 mb-3">
                <a class="tech__brand" href="#">
                    <img class="tech__brand-image" src="{{root}}assets/img/tech__brand--5.png" alt="tech__brand">
                    <svg class="tech__brand-arrow" width="41" height="10">
                        <use xlink:href="#long-arrow-right"></use>
                    </svg>
                </a>
            </div>
            <div class="col-xl-2 mb-3">
                <a class="tech__brand" href="#">
                    <img class="tech__brand-image" src="{{root}}assets/img/tech__brand--6.png" alt="tech__brand">
                    <svg class="tech__brand-arrow" width="41" height="10">
                        <use xlink:href="#long-arrow-right"></use>
                    </svg>
                </a>
            </div>
            <div class="col-xl-2 mb-3">
                <a class="tech__brand" href="#">
                    <img class="tech__brand-image" src="{{root}}assets/img/tech__brand--7.png" alt="tech__brand">
                    <svg class="tech__brand-arrow" width="41" height="10">
                        <use xlink:href="#long-arrow-right"></use>
                    </svg>
                </a>
            </div>
            <div class="col-xl-2 mb-3">
                <a class="tech__brand" href="#">
                    <img class="tech__brand-image" src="{{root}}assets/img/tech__brand--8.png" alt="tech__brand">
                    <svg class="tech__brand-arrow" width="41" height="10">
                        <use xlink:href="#long-arrow-right"></use>
                    </svg>
                </a>
            </div>
            <div class="col-xl-2 mb-3">
                <a class="tech__brand" href="#">
                    <img class="tech__brand-image" src="{{root}}assets/img/tech__brand--9.png" alt="tech__brand">
                    <svg class="tech__brand-arrow" width="41" height="10">
                        <use xlink:href="#long-arrow-right"></use>
                    </svg>
                </a>
            </div>
            <div class="col-xl-2 mb-3">
                <a class="tech__brand" href="#">
                    <img class="tech__brand-image" src="{{root}}assets/img/tech__brand--10.png" alt="tech__brand">
                    <svg class="tech__brand-arrow" width="41" height="10">
                        <use xlink:href="#long-arrow-right"></use>
                    </svg>
                </a>
            </div>
            <div class="col-xl-2 mb-3">
                <a class="tech__brand" href="#">
                    <img class="tech__brand-image" src="{{root}}assets/img/tech__brand--11.png" alt="tech__brand">
                    <svg class="tech__brand-arrow" width="41" height="10">
                        <use xlink:href="#long-arrow-right"></use>
                    </svg>
                </a>
            </div>
            <div class="col-xl-2 mb-3">
                <a class="tech__brand" href="#">
                    <img class="tech__brand-image" src="{{root}}assets/img/tech__brand--12.png" alt="tech__brand">
                    <svg class="tech__brand-arrow" width="41" height="10">
                        <use xlink:href="#long-arrow-right"></use>
                    </svg>
                </a>
            </div>
            <div class="col-xl-2 mb-3">
                <a class="tech__brand" href="#">
                    <img class="tech__brand-image" src="{{root}}assets/img/tech__brand--13.png" alt="tech__brand">
                    <svg class="tech__brand-arrow" width="41" height="10">
                        <use xlink:href="#long-arrow-right"></use>
                    </svg>
                </a>
            </div>
            <div class="col-xl-2 mb-3">
                <a class="tech__brand" href="#">
                    <img class="tech__brand-image" src="{{root}}assets/img/tech__brand--14.png" alt="tech__brand">
                    <svg class="tech__brand-arrow" width="41" height="10">
                        <use xlink:href="#long-arrow-right"></use>
                    </svg>
                </a>
            </div>
            <div class="col-xl-2 mb-3">
                <a class="tech__brand" href="#">
                    <img class="tech__brand-image" src="{{root}}assets/img/tech__brand--15.png" alt="tech__brand">
                    <svg class="tech__brand-arrow" width="41" height="10">
                        <use xlink:href="#long-arrow-right"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>