<section class="section--type section--inner section--white p3">
    <div class="container">
        <div class="section__title mb-3 mb-xl-4">Первый заголовок, Например с чем пришли, Только современная методология разработки бодрит</div>
        <div class="mb-3 mb-xl-5">
            <p><span class="bold">Длинный цикл сделки.</span> В среднем цикл сделки составляет 90 дней, так как это крупные дорогие покупки с
                длительным процессом принятия решения. Менеджер должен поддерживать связь с клиентом и постоянно
                «подогревать» его интерес.</p>
            <p><span class="bold">Низкая скорость реакции.</span> Загруженность менеджера «рутинными» задачами не позволяет ему оперативно
                отвечать клиенту и постоянно находиться с ним на связи. Средняя скорость реакции на запрос составляет сутки, что
                не лучшим образом сказывается на результатах продаж.</p>
            <p class="bold und">Это первый тип стандартного текстового блока, где управляется Заголовок и само текстовое содержание.
                Высота блока и текст могут быть любого объёма. Таких блоков с заголовками может быть максимум 4 штуки.</p>
        </div>
        <div class="row mb-3 mb-xl-5">
            <div class="col-xl-5 mb-3 mb-xl-0">
                <div class="type__image-wrp">
                    <div class="type__image type__image--fixed type__image--fixed--left"></div>
                </div>
            </div>
            <div class="col-xl-6 offset-xl-1">
                <div class="bold und">
                    <p>Это второй тип стандартного текстового блока.</p>
                    <p>В нем нет заголовка, а также в связке поле
                        для загрузки картинки, относительно которого
                        происходит выравнивание положения текста:
                        по верхней части и левой стороне + по ширине
                        самой картинки + текста будет столько, сколько
                        поместится по высоте картинки.</p>
                    <p>Можно комбинировать все допблоки — визуально
                        смотрятся как один большой блок.</p>
                </div>
                <div class="mt-3 mt-xl-4">
                    <p class="bold">Отсутствие современных каналов связи с клиентом.</p>
                    <p>Компания работает с клиентами только посредством
                        телефонных звонков, а 90% заказчиков предпочитают общаться в мессенджерах. Не весь поток потенциальных
                        клиентов доходит даже до первого контакта с компанией.</p>
                    <p>Руководство приняло решение перейти на новую CRM-систему. Однако по-прежнему не было понятно, почему 80%
                        клиентов не доходило даже до второго этапа воронки. В итоге решили обратиться за помощью к Байт Код.</p>
                </div>
            </div>
        </div>
        <div class="row mb-3 mb-xl-5">
            <div class="col-xl-6 mb-3 mb-xl-0">
                <div class="bold und">
                    <p>Это второй тип стандартного текстового блока.</p>
                    <p>В нем нет заголовка, а также в связке поле
                        для загрузки картинки, относительно которого
                        происходит выравнивание положения текста:
                        по верхней части и левой стороне + по ширине
                        самой картинки + текста будет столько, сколько
                        поместится по высоте картинки.</p>
                    <p>Можно комбинировать все допблоки — визуально
                        смотрятся как один большой блок.</p>
                </div>
                <div class="mt-3 mt-xl-4">
                    <p class="bold">Отсутствие современных каналов связи с клиентом.</p>
                    <p>Компания работает с клиентами только посредством
                        телефонных звонков, а 90% заказчиков предпочитают общаться в мессенджерах. Не весь поток потенциальных
                        клиентов доходит даже до первого контакта с компанией.</p>
                    <p>Руководство приняло решение перейти на новую CRM-систему. Однако по-прежнему не было понятно, почему 80%
                        клиентов не доходило даже до второго этапа воронки. В итоге решили обратиться за помощью к Байт Код.</p>
                </div>
            </div>
            <div class="col-xl-5 offset-xl-1">
                <div class="type__image-wrp">
                    <div class="type__image type__image--fixed type__image--fixed--right"></div>
                </div>
            </div>
        </div>
        <div class="type__image mb-2 mb-xl-4"></div>
        <p class="bold">Третий тип блока — картинка по центру + текст. Текста может не быть, и будет выводиться только картинка.</p>
        <p>Блок имеет такие же ограничения по сетке, поэтому важно адаптировать картинки, так как если загрузить картинку
            огромного разрешения, она будет на весь экран в высоту и ширину рабочей области страницы. Также, если
            картинка будет иметь ширину больше максимальной рабочей области, края обрежутся. Поэтому блок подойдет
            либо для небольших картинок, либо картинок в пределах ограничений страниц.</p>
    </div>
</section>
<section class="section--inner p3">
    <div class="container">
        <p class="bold">Четвертый тип блока — просто текстовый без заголовка.</p>
        <p><span class="bold">Отсутствие современных каналов связи с клиентом.</span> Компания работает с клиентами только посредством
            телефонных звонков, а 90% заказчиков предпочитают общаться в мессенджерах. Не весь поток потенциальных
            клиентов доходит даже до первого контакта с компанией.</p>
        <p>Руководство приняло решение перейти на новую CRM-систему. Однако по-прежнему не было понятно, почему 80%
            клиентов не доходило даже до второго этапа воронки. В итоге решили обратиться за помощью к Байт Код.</p>
    </div>
</section>