@import "mixins";
@import "fonts";
@import "common/fonts";
@import "common/colors";
@import "common/one-classes";
@import "common/selections";
@import "common/states";
@import "common/inputs";
@import "common/buttons";
@import "common/section";
@import "common/owl-custom";
@import "common/list";
@import "common/popup";
@import "common/pagination";

html, body {
  position: relative;
  font-family: $mreg,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial, Roboto, sans-serif;
  font-size: $p1;
  line-height: 1.3;
  color: $dark;
  background-color: $lgray2;
  padding: 0;
  margin: 0;
  max-width: 100%;
  -moz-osx-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  &.fixed {
    overflow: hidden;
    padding-right: 15px;
  }
  @include scroll;
  @include r(1531) {
    font-size: $p1-medium;
  }
  @include r(1200) {
    font-size: $p1-small;
  }
}

a {
  color: $dark;
  @include ease;
  &:hover {
    color: $red;
    text-decoration: none;
  }
}

$container: 1440px;
//$container2: 1300px;


.container {
  max-width: $container;
  //@include r(1531) {
  //  max-width: $container2;
  //}
}


.svg-sprite {
  position: absolute;
  bottom: 0;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}
