<!DOCTYPE html>
<html lang="ru">

<head>
    {{!— Required meta tags --}}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#FF4013">
    <link rel="shortcut icon" href="{{root}}assets/img/favicon.ico" type="image/x-icon">
    <title>New Project</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
</head>

<body>
    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
    {{> preloader}}
    <div class="layout">
        <div class="service-banner section--black">
            <div class="header__wrp">
                {{> header}}
            </div>
            <section class="section--inner">
                <div class="service-banner__in">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-xl-6">
                                <div class="section__title mb-3 mb-xl-4">Разработка решений на
                                    базе Creatio и дальнейшая
                                    техническая поддержка</div>
                                <p class="ulight">
                                    Платформа Creatio построена на открытых принципах кастомизации. Это позволяет нашим разработчикам свободно и без ограничений создавать собственные модули, а также модифицировать существующую функциональность
                                    для получения требуемой конфигурации системы.
                                </p>
                                <p class="ulight">
                                    Это общий блок, кратко описывающий услугу. Он обязательный. Далее идут блоки с заголовками. их количество
                                    может быть от 1-го до 4-х максимально.
                                </p>
                            </div>
                            <div class="col-xl-6">
                                <div class="service-banner__image-wrp">
                                    <img class="service-banner__image" src="{{root}}assets/img/service-banner__image.png" alt="service-banner__image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        {{> body}}
        {{> footer}}
    </div>

    {{> svg}}

    {{> popups}}
    {{> scripts}}

</body>
</html>
